/* ==========================================================================
   Capital Framework
   Less variables
   ========================================================================== */

//
// Theme variables
//

// Color variables

// body
@text:                   @black;

// a
@link-text:              @pacific;
@link-underline:         @pacific;
@link-text-visited:      @teal;
@link-underline-visited: @teal;
@link-text-hover:        @pacific-60;
@link-underline-hover:   @pacific-60;
@link-text-active:       @navy;
@link-underline-active:  @navy;

// table
@thead-text:             @text;
@thead-bg:               @gray-10;

@table-head-bg:          @thead-bg;
@table-cell-bg:          @white;
@table-cell-bg_alt:      @gray-5;
@table-scrolling-border: @gray-40;
@table-border:           @gray;

// code
@code-text:              @text;
@code-bg:                @gray-5;


// Sizing variables

@base-font-size-px:      16px;
@base-line-height-px:    22px;
@base-line-height:       unit( @base-line-height-px / @base-font-size-px );

@size-xl:                48px; // Super-size

@size-i:                 34px; // h1-size
@size-ii:                26px; // h2-size
@size-iii:               22px; // h3-size
@size-iv:                18px; // h4-size
@size-v:                 14px; // h5-site
@size-vi:                12px; // h6-size
@size-code:              13px; // Custom size only for Mono code blocks


// Web fonts

@webfont-regular:        Arial;
@webfont-italic:         Arial;
@webfont-medium:         Arial;
@webfont-demi:           Arial;
