# <%= name %> [![Build Status](https://img.shields.io/travis/cfpb/capital-framework.svg)](https://travis-ci.org/cfpb/capital-framework)

<%= description %>

This component can be used by itself, but it was made for Capital Framework,
a front end framework developed at the
[Capital Framework](https://cfpb.github.io/capital-framework).

- [View the docs](https://cfpb.github.io/design-manual/ui-toolkit/ui-toolkit.html)

The current version number can be found in [package.json](package.json)
and follows [Semantic Versioning 2.0](http://semver.org/).
Release notes are recorded in the [CHANGELOG](CHANGELOG.md).

If you would like to take advantage of more components or if you're new to
Capital Framework, we encourage you to [start here](https://cfpb.github.io/capital-framework/).

![](screenshot.png)


## How to use this component

Detailed instructions can be found at the Capital Framework
[documentation site](https://cfpb.github.io/capital-framework/).


## Getting involved

We welcome your feedback and contributions.

- [Find out about contributing](CONTRIBUTING.md)
- File a bug using this [handy template](https://github.com/cfpb/capital-framework/issues/new?body=%23%23%20URL%0D%0D%0D%23%23%20Actual%20Behavior%0D%0D%0D%23%23%20Expected%20Behavior%0D%0D%0D%23%23%20Steps%20to%20Reproduce%0D%0D%0D%23%23%20Screenshot&labels=bug)

---

## Open source licensing info
1. [TERMS](TERMS.md)
2. [LICENSE](LICENSE)
3. [CFPB Source Code Policy](https://github.com/cfpb/source-code-policy/)
