/*
 * Source: http://fast.fonts.net/cssapi/44e8c964-4684-44c6-a6e3-3f3da8787b50.css
 * This file has been edited to use absolute URLS so we can concatenate it with
 * all of our other styles.
 */
@import url(//fast.fonts.net/t/1.css?apiType=css&projectid=44e8c964-4684-44c6-a6e3-3f3da8787b50);
@font-face {
    font-family: 'AvenirNextLTW01-Regular';
    src: url( '@{cf-fonts-path}/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2@{cf-fonts-path-suffix}' ) format( 'woff2' ),
         url( '@{cf-fonts-path}/1e9892c0-6927-4412-9874-1b82801ba47a.woff@{cf-fonts-path-suffix}' ) format( 'woff' );
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'AvenirNextLTW01-Italic';
    src: url( '@{cf-fonts-path}/7377dbe6-f11a-4a05-b33c-bc8ce1f60f84.woff2@{cf-fonts-path-suffix}' ) format( 'woff2' ),
         url( '@{cf-fonts-path}/92b66dbd-4201-4ac2-a605-4d4ffc8705cc.woff@{cf-fonts-path-suffix}' ) format( 'woff' );
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: 'AvenirNextLTW01-Medium';
    src: url( '@{cf-fonts-path}/627fbb5a-3bae-4cd9-b617-2f923e29d55e.woff2@{cf-fonts-path-suffix}' ) format( 'woff2' ),
         url( '@{cf-fonts-path}/f26faddb-86cc-4477-a253-1e1287684336.woff@{cf-fonts-path-suffix}' ) format( 'woff' );
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'AvenirNextLTW01-Demi';
    src: url( '@{cf-fonts-path}/aad99a1f-7917-4dd6-bbb5-b07cedbff64f.woff2@{cf-fonts-path-suffix}' ) format( 'woff2' ),
         url( '@{cf-fonts-path}/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff@{cf-fonts-path-suffix}' ) format( 'woff' );
    font-style: normal;
    font-weight: 700;
}
