@import '../atoms/buttons.less';

// Icon locations

.a-btn__icon-on-left:before {
    padding-right: unit( 10.5px / @btn-font-size, em );
    border-right: 1px solid mix( @btn-bg, @btn-text, 50% );
    margin-right: unit( 7px / @btn-font-size, em );
}

.a-btn__icon-on-right:after  {
    padding-left: unit( 10.5px / @btn-font-size, em );
    border-left: 1px solid mix( @btn-bg, @btn-text, 50% );
    margin-left: unit( 7px / @btn-font-size, em );
}


.a-btn__icon-on-left:before,
.a-btn__icon-on-right:after {
    .a-btn__secondary& {
        border-color: mix( @btn__secondary-bg, @btn__secondary-text, 50% );
    }

    .a-btn__warning& {
        border-color: mix( @btn__warning-bg, @btn__warning-text, 50% );
    }

    .a-btn__disabled&,
    .a-btn[disabled]& {
        border-color: mix( @btn__disabled-bg, @btn__disabled-text, 50% );
    }
}
