<footer class="site-footer">
  <div class="wrapper site-footer_wrapper">

    <div class="content-l_col content-l_col-1-2">
      <ul class="m-list m-list__links">
        <li class="m-list_item">
          <a class="m-list_link" href="https://www.consumerfinance.gov/">consumerfinance.gov</a>
        </li>
        <li class="m-list_item">
          <a class="m-list_link" href="https://cfpb.github.io/">CFPB Open Tech</a>
        </li>
        <li class="m-list_item">
          <a class="m-list_link" href="https://github.com/cfpb">github.com/cfpb</a>
        </li>
        <li class="m-list_item">
          <a class="m-list_link" href="https://www.consumerfinance.gov/about-us/careers/">Work with us</a>
        </li>
        <li class="m-list_item">
          <a class="m-list_link" href="mailto:tech@cfpb.gov" target="_blank">Contact us</a>
        </li>
      </ul>
    </div>

    <div class="content-l_col content-l_col-1-2">
      <h4>Open source</h4>
      <p>
        This project is maintained by the <a href="https://cfpb.github.io/">Consumer Financial Protection Bureau</a>.
        The source code is available at <a href="https://github.com/cfpb/capital-framework">github.com/cfpb/capital-framework</a>.
      </p>
      <p>
        As a work of the United States Government,
        source code released by the CFPB is in the
        public domain by default within the United States.
      </p>
      <a class="a-link a-link__jump a-link__icon-after-text"
         href="https://cfpb.github.io/source-code-policy/">
        <span class="a-link_text">View our full source code policy</span>
        {% include icons/external-link.svg %}
      </a>
    </div>

  </div>
</footer>
