<footer class="site-footer">
  <div class="wrapper site-footer_wrapper">

    <div class="content-l_col content-l_col-1-2">
      <nav>
        <ul>
          <li><a href="http://www.consumerfinance.gov/">consumerfinance.gov</a></li>
          <li><a href="http://cfpb.github.io/">CFPB Open Tech</a></li>
          <li><a href="https://github.com/cfpb">github.com/cfpb</a></li>
          <li><a href="http://www.consumerfinance.gov/jobs/technology-innovation-fellows/">Work with us</a></li>
          <li><a href="mailto: tech@consumerfinance.gov" target="_blank">Contact us</a></li>
        </ul>
      </nav>
    </div>

    <div class="content-l_col content-l_col-1-2">
      <h4>Open source</h4>
      <p>This project is maintained by <a href="https://cfpb.github.io/">The Consumer Financial Protection Bureau</a>.The source code is available at <a href="https://github.com/cfpb/capital-framework">github.com/cfpb/capital-framework</a></p>
      <p>As a work of the United States Government, source code released by the CFPB is in the
          public domain by default within the United States. <a href="https://github.com/cfpb/source-code-policy/blob/master/cfpb-source-code-policy.txt"> View our full source code policy.</a></p>
    </div>

  </div><!-- ./wrapper -->

</footer>