<div class="content_bar"></div>
<div class="hero content_intro">
  <div class="wrapper wrapper__match-content">
    <h2 class="hero_heading">A modular front end framework</h2>

<!-- funky formatting to prevent indents -->
<pre class="hero_code">
$ npm install -g yo generator-cf
$ mkdir my-new-project && cd $_
$ yo cf
</pre>

    <a href="assets/cf.zip" class="btn btn__super">Download <span class="btn_icon__right cf-icon cf-icon-download"></span></a>
    <a href="{{ site.baseurl }}/getting-started/" class="btn btn__super">Get Started <span class="btn_icon__right cf-icon cf-icon-right"></span></a>
  </div> <!-- /.wrapper -->
</div> <!-- /.hero -->
