<div class="content_bar"></div>
<div class="hero content_intro">
  <div class="wrapper wrapper__match-content">
    <h2 class="hero_heading">A modular front end framework</h2>

<!-- funky formatting to prevent indents -->
<pre class="hero_code">
$ npm install -g yo generator-cf
$ mkdir my-new-project && cd $_
$ yo cf
</pre>

    <p class="hero_p sans">You will need <a href="http://nodejs.org/">Node.js</a>, <a href="http://yeoman.io/">Yeoman</a>, <a href="http://gruntjs.com/">Grunt</a>, and <a href="http://bower.io/">Bower</a> to run these commands.</p>
    <p class="hero_p sans">Need more detailed instructons? <a class="jump-link" href="{{ site.baseurl }}/getting-started/">Read the Getting Started guide </a></p>
    <p class="hero_p sans">Not into the command line? <a class="jump-link jump-link__download" href="assets/cf.zip">Download the compiled source </a></p>

  </div> <!-- /.wrapper -->
</div> <!-- /.hero -->