/* ==========================================================================
   Capital Framework
   Expandable Styling
   ========================================================================== */

//
// Theme variables
//

// .o-expandable
@expandable-focus:              @black;


// .o-expandable_label
@expandable_label-text:         @black;

// .o-expandable_link
@expandable_link-text:          @pacific;

// .o-expandable__padded
@expandable__padded-bg:         @gray-10;
@expandable__padded-bg-hover:   @gray-20;
@expandable__padded-divider:    @gray-40;

// .o-expandable-group
@expandable-group-bg:           @white;
@expandable-group-divider:      @gray-80;

// Sizing variables

// .o-expandable_link
@expandable_link-font-size:     @btn-font-size;

// Timing variables

// .o-expandable_content__transition
@expandable__transition-speed:  0.25s;


// Import external dependencies

@import (less) '../../cf-core/src/cf-core.less';
@import (less) '../../cf-buttons/src/cf-buttons.less';
@import (less) '../../cf-icons/src/cf-icons.less';

// Import organisms

@import (less) './organisms/expandable.less';
@import (less) './organisms/expandable-group.less';
