/* ==========================================================================
   Main content
   ========================================================================== */

.section-image {
    width: 65%;
    margin: 0 auto;
    padding-bottom: 1.4em;
}