// import combined CF component LESS
@import "../../vendor/cf-concat/cf.less";

@import "modules/syntax.less";

/* ==========================================================================
   helper classes
   ========================================================================== */

.demi {
    .webfont-demi();
}

.sans {
    .webfont-regular();
}

/* ==========================================================================
   Universal
   ========================================================================== */

html, body {
  height: 100%;
}

/* for sticky footer */
.body-wrapper {
    display: table;
    height: 100%;
    width: 100%
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* ==========================================================================
   Header
   ========================================================================== */


@media (min-width: 1100px) {
    .site-header {
        padding: 3em 0;

        .content-l_col {
            vertical-align: middle;
        }

       .content-l_col + .content-l_col {
            margin-top: 0;
        }
    }

    .global-nav {
        text-align: right;
    }

    .nav-list-item {
        .u-inline-block;
        margin-right: 20px;
    }

    .nav-list-item:last-child {
        margin-right: 0px;
    }
}


.title_heading {
    margin: 0;
    font-size: 1.625em;
    a {
        color: @gray;
    }
}

.global-nav_list {
    margin: 0;
    padding: 0;
    .webfont-regular();
    vertical-align: middle;
}

/* ==========================================================================
   Hero
   ========================================================================== */

.hero {
    background: @green-tint;
    padding: 1.4em 0;
}

.hero_heading {
    .webfont-demi();
    font-size: 3.5em;
    margin: 0;
}

.hero_code {
    background: @darkgray;
    color: @gray-10;
    font-size: 1.5em;
    padding: .5em .5em;
    margin: 1.5em 0;
}

@media (min-width: 1100px) {
    .hero_code {
        width: 60%;
    }
}

.hero_p {
    margin-bottom: 0;
}

.jump-link {
    position: relative;
    // Right margin gives the absolutely positioned icon somewhere to go without
    // inheriting the bottom border.
    margin-right: 1.5em;
    border-bottom-width: 1px;
    .webfont-medium();
    &:after {
        // Inserts the cf-icon-right (arrow) glyph.
        content: "\e002";
        right: -1.25em;
    }
    &__download {
        &:after {
            // Inserts the cf-icon-download glyph.
            content: "\e406";
            right: -1.5em;
        }
    }

    &__external-link {
        &:after {
            // Inserts the cf-icon-external-link glyph.
            content: "\e610";
        }
    }

    &:after {
        .cf-icon();
        position: absolute;
        bottom: 0;
        border-bottom: none;
    }
}


/* ==========================================================================
   Main content
   ========================================================================== */

.section-image {
    width: 65%;
    margin: 0 auto;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.site-footer {
    display: table-row; /* for sticky footer */
    height: 1px; /* for sticky footer */
    background: @gray-10;
}

.site-footer_wrapper {
    padding: 2em 0;
}

/* ==========================================================================
   Secondary Nav
   ========================================================================== */


.nav-secondary {
    margin-bottom: unit(30px / @base-font-size-px, em);

    &_list {
        margin: 0;
        padding: 0;
    }

    &_item {
        list-style: none;

        .respond-to-min(801px, {
            & + & {
                margin-top: 10px;
            }
        });
    }

    &_link {
        @font-size-small: 16px;
        @font-size-large: 18px;

        .respond-to-max(800px, {
            display: block;
            // width: 100%; // Needed to override button styles
            padding: unit((@grid_gutter-width / 2) / @font-size-small, em)
                     unit(@grid_gutter-width / @font-size-small, em);
            border-bottom-style: solid;
            border-width: 0; // Needed to override button styles
            border-bottom-width: 1px;
            background: @gray-10;
            .webfont-medium();
            font-size: unit(@font-size-small / @base-font-size-px, em);
            .u-link__colors(@darkgray, @darkgray, @darkgray, @darkgray, @darkgray,
                            @gray-20, @gray-20, @gray-20, @gray-20, @gray-20);
            text-align: left; // Needed to override button styles
        });

        .respond-to-max(600px, {
            padding-left: unit((@grid_gutter-width / 2) / @font-size-small, em);
            padding-right: unit((@grid_gutter-width / 2) / @font-size-small, em);
        });

        .respond-to-min(801px, {
            display: inline-block;
            padding: unit(5px / @font-size-large, em)
                     unit(15px / @font-size-large, em);
            border-left-style: solid;
            border-left-width: 5px;
            .webfont-medium();
            font-size: unit(@font-size-large / @base-font-size-px, em);
            .u-link__colors(@pacific, @pacific, @black, @black, @black,
                            transparent, transparent, @green, @green, @green);
        });

        &__current {
            .respond-to-max(800px, {
                display: none;
            });
            .respond-to-min(801px, {
                .u-link__colors(@black, @black, @black, @black, @black,
                                @green, @green, @green, @green, @green);
            });
        }

        &__button {
            width: 100%;
            .webfont-demi();
            text-align: left;
            text-transform: uppercase;

            &:focus {
                outline: thin dotted;
            }

            .respond-to-min(801px, {
                display: none;
            });
        }
    }
}