// import combined CF component LESS
@import "../../vendor/cf-concat/cf.less";

/* ==========================================================================
   helper classes
   ========================================================================== */

.demi {
    .webfont-demi();
}

.sans {
    .webfont-regular();
}

pre {
    font-family: "Input Mono", Consolas, monaco, monospace;
}


/* ==========================================================================
   Universal
   ========================================================================== */

html, body {
  height: 100%;
}

/* for sticky footer */
.body-wrapper {
    display: table;
    height: 100%;
    width: 100%
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* ==========================================================================
   Header
   ========================================================================== */


@media (min-width: 1100px) {
    .site-header {
        padding: 3em 0;

        .content-l_col {
            vertical-align: middle;
        }

       .content-l_col + .content-l_col {
            margin-top: 0;
        }
    }

    .global-nav {
        text-align: right;
    }

    .nav-list-item {
        .u-inline-block;
        margin-right: 20px;
    }

    .nav-list-item:last-child {
        margin-right: 0px;
    }
}


.title_heading {
    margin: 0;
    font-size: 1.625em;
    a {
        color: @gray;
    }
}

.global-nav_list {
    margin: 0;
    padding: 0;
    .webfont-regular();
    vertical-align: middle;
}

/* ==========================================================================
   Hero
   ========================================================================== */

.hero {
    background: @green-tint;
    padding: 1.4em 0;
}

.hero_heading {
    .webfont-demi();
    font-size: 3.5em;
    margin: 0;
}

.hero_code {
    background: @darkgray;
    color: @gray-10;
    font-size: 1.5em;
    padding: .5em .5em;
    margin: 1.5em 0;
}

@media (min-width: 1100px) {
    .hero_code {
        width: 60%;
    }
}

.hero_p {
    margin-bottom: 0;
}

.jump-link {
    position: relative;
    // Right margin gives the absolutely positioned icon somewhere to go without
    // inheriting the bottom border.
    margin-right: 1.5em;
    border-bottom-width: 1px;
    .webfont-medium();
    &:after {
        // Inserts the cf-icon-right (arrow) glyph.
        content: "\e002";
        right: -1.25em;
    }
    &__download {
        &:after {
            // Inserts the cf-icon-download glyph.
            content: "\e406";
            right: -1.5em;
        }
    }

    &__external-link {
        &:after {
            // Inserts the cf-icon-external-link glyph.
            content: "\e610";
        }
    }

    &:after {
        .cf-icon();
        position: absolute;
        bottom: 0;
        border-bottom: none;
    }

    &__back {
        margin-left: 1.25em;

        &:after {
            content: ''
        }

        &:before {
            .cf-icon();
            // Inserts the cf-icon-left (arrow) glyph.
            content: "\e000";
            position: absolute;
            left: -1.25em;
            top: .2em;
            padding-right: .25em;
            border-bottom: none;
        }
    }

    .list__links & {
        margin-top: -1px;
    }
}


/* ==========================================================================
   Main content
   ========================================================================== */

.section-image {
    width: 65%;
    margin: 0 auto;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.site-footer {
    display: table-row; /* for sticky footer */
    height: 1px; /* for sticky footer */
    background: @gray-10;
}

.site-footer_wrapper {
    padding: 2em 0;
}