.m-btn-inside-input {
    display: table;
    position: relative;
    width: 100%;

    .a-text-input {
        display: table-cell;
        width: 100%;
        box-sizing: border-box;
        border-right: none;
        padding-right: unit( 15px / @btn-font-size, em );

        &:focus + .m-btn-inside-input_btn-container,
        &__focused + .m-btn-inside-input_btn-container {
            border: none;
            border: 2px solid @input-border__active;
            border-left: none;

            &:before {
                background-color: @input-bg;
                border-color: @input-border__active;
            }

            & .a-btn {
                position: relative;
                left: 1px;
            }

        }

        &:disabled,
        &__disabled {
            background-color: @input-bg__disabled;
            cursor: not-allowed;

            & + .m-btn-inside-input_btn-container {
                background-color: @input-bg__disabled;

                &:before {
                }

                &:after {
                    border: 1px solid @input-border;
                    border-left: none;
                }       
            }

        }

        &:disabled:focus,
        &__disabled:focus,
        &__focused:disabled,
        &__disabled&__focused {
            & + .m-btn-inside-input_btn-container {
                &:before {
                    background-color: @input-bg__disabled;
                }

                & .a-btn {
                    position: relative;
                    left: 1px;
                }
            }
        }


        &__error {
            border-color: @input-border__error;

            & + .m-btn-inside-input_btn-container {
                outline: 1px solid @input-border__error;
                border: 1px solid @input-border__error;
                border-left: none;

                &:before {
                    background-color: @input-bg;
                    border-color: @input-border__error;
                }

                &:after {
                    border: none;
                }       
            }

            &:focus {
                border-color: @input-border__focused;
                outline-offset: 0px;
                outline: 1px solid @input-border__active;

                & + .m-btn-inside-input_btn-container {
                    outline: 1px solid @input-border__active;
                    border: 1px solid @input-border__active;
                    border-left: none;

                    & .a-btn {
                        position: relative;
                        left: 0px;
                    }
                }

            }

        }

        &__warning {
            border-color: @input-border__warning;

            & + .m-btn-inside-input_btn-container {
                outline: 1px solid @input-border__warning;
                border: 1px solid @input-border__warning;
                border-left: none;

                &:before {
                    background-color: @input-bg;
                    border-color: @input-border__warning;
                }

                &:after {
                    border: none;
                }       
            }

            &:focus {
                border-color: @input-border__focused;
                outline-offset: 0px;
                outline: 1px solid @input-border__active;

                & + .m-btn-inside-input_btn-container {
                    outline: 1px solid @input-border__active;
                    border: 1px solid @input-border__active;
                    border-left: none;

                    & .a-btn {
                        position: relative;
                        left: 0px;
                    }
                }

            }
        }

        &__success {
            border-color: @input-border__success;

            & + .m-btn-inside-input_btn-container {
                outline: 1px solid @input-border__success;
                border: 1px solid @input-border__success;
                border-left: none;

                &:before {
                    background-color: @input-bg;
                    border-color: @input-border__success;
                }

                &:after {
                    border: none;
                }       
            }

            &:focus {
                border-color: @input-border__focused;
                outline-offset: 0px;
                outline: 1px solid @input-border__active;

                & + .m-btn-inside-input_btn-container {
                    outline: 1px solid @input-border__active;
                    border: 1px solid @input-border__active;
                    border-left: none;

                    & .a-btn {
                        position: relative;
                        left: 0px;
                    }
                }

            }
        }

    }

    &_btn-container {
        display: table-cell;
        padding-right: unit( 15px / @btn-font-size, em );
        position: relative;
        border: 1px solid @input-border;
        border-left: none;
        width: 1px;
        left: -1px;

        background-color: @input-bg;
        white-space: nowrap;

        .a-btn {
            z-index: 1;
            .u-link__no-border();
            margin: 0;
            // The placement of borders causes a 1px offset, corrected by:
            margin-top: -1px;

            // btn-inside-input should be 7/8ths inherited font-size
            font-size: 0.875em;

            /* pa11y fails unless the background color is explicitly set */
            &__link.a-btn__secondary {
                background-color: #fff;
            }
        }

        &:before {
            display: block;
            position: absolute;
            top: -1px;
            bottom: 0;
            left: -2px;
            border-top: 1px solid @input-border;
            content: " ";
            height: 100%;
            width: 2px;
        }

/*
        &:after {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            border: none;
            border-left: none;
            content: " ";
            width: 100%;
        }
*/
    }
}