.m-btn-inside-input {
    position: relative;

    .a-text-input {
        box-sizing: border-box;
        padding-right: unit( 75px / @btn-font-size, em );
        width: 100%;
    }

    .a-btn {
        .u-link__no-border();

        position: absolute;
        // Set the right and top distances to match typical button padding.
        right: unit( @btn-h-padding / @btn-font-size, em );
        top: unit( @btn-v-padding / @btn-font-size, em );
    }
}
