.m-form-field {
    .a-text-input__full {
        box-sizing: border-box;
        width: 100%;
    }

    .a-label + .a-text-input {
        margin-top: unit( 5px / @base-font-size-px, em );
    }

    &__checkbox,
    &__radio {
        .a-label {
            vertical-align: top;
            cursor: pointer;

            &:before {
                display: inline-block;

                border: 1px solid @input-border;
                height: unit( 18px / @base-font-size-px, em );
                width: unit( 18px / @base-font-size-px, em );
                margin-right: 10px;

                background-color: @input-bg;
                content: '';
                vertical-align: top;

                .lt-ie9 & {
                    display: none !important;
                }
            }

            &:hover:before,
            &.hover:before {
                border-color: @input-border__hover;
            }
        }

        .a-checkbox,
        .a-radio {
            .u-visually-hidden();

            .lt-ie9 & {
                height: unit( 20px / @base-font-size-px, em );
                width: unit( 20px / @base-font-size-px, em );
                border: 0;
                float: left;
                margin: 1em;
                position: static;
                width: auto;
                clear: both;
            }

            &:disabled {

                &:focus + .a-label:before,
                &:hover + .a-label:before,
                &.hover + .a-label:before {
                    border-color: @input-border;
                    outline: none;
                    box-shadow: none; // Applies only to radio buttons.
                }

                & + .a-label {
                    cursor: not-allowed;
                    color: @input-text__disabled;

                    &:before {
                        background: @input-bg__disabled;
                    }
                }
            }
        }
    }

    &__checkbox {
        .a-label {
            &:before {
                font-family: 'CFPB Minicons';
                text-align: center;
                line-height: unit( 18px / @base-font-size-px, em );
            }
        }

        .a-checkbox {
            &:focus + .a-label:before,
            &:hover + .a-label:before,
            &.hover + .a-label:before {
                border-color: @input-border__focused;
                outline: 1px solid @input-border__focused;
            }

            &:checked + .a-label:before {
                content: @cf-icon-approved;
            }
        }
    }

    &__radio {
        .a-label {
            &:before {
                border-radius: 50%;
            }
        }

        .a-radio {
            &:focus + .a-label:before,
            &:hover + .a-label:before,
            &.hover + .a-label:before {
                outline: none;
                border-color: @input-border__focused;
                box-shadow: 0 0 0 1px @input-border__focused;
            }

            &:checked + .a-label:before {
                background-color: @input-bg__selected;
                box-shadow: inset 0 0 0 2px #fff;
            }

            &:focus:checked + .a-label:before,
            &:hover:checked + .a-label:before,
            &.hover:checked + .a-label:before {
                border-color: @input-border__focused;
                box-shadow: 0 0 0 1px @input-border__focused, inset 0 0 0 2px #fff;
            }
        }
    }

    &__lg-target {

        .a-label {
            display: block;
            padding: 15px;
            background-color: @input-lg-target-bg;
        }

        .a-checkbox,
        .a-radio {
            &:focus + .a-label,
            &:checked + .a-label {
                outline: 1px solid @input-border__focused;
            }

            &:checked + .a-label {
                background-color: @input-lg-target-bg__selected;
            }

            &:disabled + .a-label,
            &:hover:disabled + .a-label {
                color: @input-text__disabled;

                &:before {
                    background-color: @input-lg-target-bg__disabled;
                    font-family: 'CFPB Minicons';
                    font-size: unit( 20px / 18px, em );
                }
            }
        }
    }

    &__error {
        .a-error-message {
            margin-top: unit( ( @grid_gutter-width / 2 ) / @base-font-size-px, em );
        }
    }
}

.a-error-message .cf-icon-delete-round {
    color: @input-icon__error;

    &__select {
        .a-label + .a-select {
            margin-top: 0.5em;
        }
    }
}
