<h2 id="default-button">Default button</h2>
<h3 id="default-state">Default state</h3>
<p>  <a href="#" class="btn" title="Test button">Anchor Tag</a>
  <button class="btn" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn"></p>
<pre><code><div class="highlight"><pre><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">class=</span><span class="s">&quot;btn&quot;</span> <span class="na">title=</span><span class="s">&quot;Test button&quot;</span><span class="nt">&gt;</span>Anchor Tag<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn&quot;</span> <span class="na">title=</span><span class="s">&quot;Test button&quot;</span><span class="nt">&gt;</span>Button Tag<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;submit&quot;</span> <span class="na">value=</span><span class="s">&quot;Input Tag&quot;</span> <span class="na">class=</span><span class="s">&quot;btn&quot;</span><span class="nt">&gt;</span>
</pre></div>

</code></pre><h3 id="hovered-state">Hovered state</h3>
<p>  <a href="#" class="btn hover" title="Test button">Anchor Tag</a>
  <button class="btn hover" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn hover"></p>
<pre><code><div class="highlight"><pre><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">class=</span><span class="s">&quot;btn hover&quot;</span> <span class="na">title=</span><span class="s">&quot;Test button&quot;</span><span class="nt">&gt;</span>Anchor Tag<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn hover&quot;</span> <span class="na">title=</span><span class="s">&quot;Test button&quot;</span><span class="nt">&gt;</span>Button Tag<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;submit&quot;</span> <span class="na">value=</span><span class="s">&quot;Input Tag&quot;</span> <span class="na">class=</span><span class="s">&quot;btn hover&quot;</span><span class="nt">&gt;</span>
</pre></div>

</code></pre><h3 id="focused-state">Focused state</h3>
<p>  <a href="#" class="btn focus" title="Test button">Anchor Tag</a>
  <button class="btn focus" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn focus"></p>
<pre><code><div class="highlight"><pre><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">class=</span><span class="s">&quot;btn focus&quot;</span> <span class="na">title=</span><span class="s">&quot;Test button&quot;</span><span class="nt">&gt;</span>Anchor Tag<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn focus&quot;</span> <span class="na">title=</span><span class="s">&quot;Test button&quot;</span><span class="nt">&gt;</span>Button Tag<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;submit&quot;</span> <span class="na">value=</span><span class="s">&quot;Input Tag&quot;</span> <span class="na">class=</span><span class="s">&quot;btn focus&quot;</span><span class="nt">&gt;</span>
</pre></div>

</code></pre><h3 id="active-state">Active state</h3>
<p>  <a href="#" class="btn active" title="Test button">Anchor Tag</a>
  <button class="btn active" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn active"></p>
<pre><code><div class="highlight"><pre><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">class=</span><span class="s">&quot;btn active&quot;</span> <span class="na">title=</span><span class="s">&quot;Test button&quot;</span><span class="nt">&gt;</span>Anchor Tag<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn active&quot;</span> <span class="na">title=</span><span class="s">&quot;Test button&quot;</span><span class="nt">&gt;</span>Button Tag<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;submit&quot;</span> <span class="na">value=</span><span class="s">&quot;Input Tag&quot;</span> <span class="na">class=</span><span class="s">&quot;btn active&quot;</span><span class="nt">&gt;</span>
</pre></div>

</code></pre><h2 id="secondary-button">Secondary button</h2>
<h3 id="default-state">Default state</h3>
<p>  <a href="#" class="btn btn__secondary">Anchor Tag</a>
  <button class="btn btn__secondary" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn btn__secondary"></p>
<pre><code><div class="highlight"><pre><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn__secondary&quot;</span><span class="nt">&gt;</span>Anchor Tag<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn btn__secondary&quot;</span> <span class="na">title=</span><span class="s">&quot;Test button&quot;</span><span class="nt">&gt;</span>Button Tag<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;submit&quot;</span> <span class="na">value=</span><span class="s">&quot;Input Tag&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn__secondary&quot;</span><span class="nt">&gt;</span>
</pre></div>

</code></pre><h3 id="hovered-state">Hovered state</h3>
<p>  <a href="#" class="btn btn__secondary hover">Anchor Tag</a>
  <button class="btn btn__secondary hover" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn btn__secondary hover"></p>
<pre><code><div class="highlight"><pre><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn__secondary hover&quot;</span><span class="nt">&gt;</span>Anchor Tag<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn btn__secondary hover&quot;</span> <span class="na">title=</span><span class="s">&quot;Test button&quot;</span><span class="nt">&gt;</span>Button Tag<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;submit&quot;</span> <span class="na">value=</span><span class="s">&quot;Input Tag&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn__secondary hover&quot;</span><span class="nt">&gt;</span>
</pre></div>

</code></pre><h3 id="focused-state">Focused state</h3>
<p>  <a href="#" class="btn btn__secondary focus">Anchor Tag</a>
  <button class="btn btn__secondary focus" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn btn__secondary focus"></p>
<pre><code><div class="highlight"><pre><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn__secondary focus&quot;</span><span class="nt">&gt;</span>Anchor Tag<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn btn__secondary focus&quot;</span> <span class="na">title=</span><span class="s">&quot;Test button&quot;</span><span class="nt">&gt;</span>Button Tag<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;submit&quot;</span> <span class="na">value=</span><span class="s">&quot;Input Tag&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn__secondary focus&quot;</span><span class="nt">&gt;</span>
</pre></div>

</code></pre><h3 id="active-state">Active state</h3>
<p>  <a href="#" class="btn btn__secondary active">Anchor Tag</a>
  <button class="btn btn__secondary active" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn btn__secondary active"></p>
<pre><code><div class="highlight"><pre><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn__secondary active&quot;</span><span class="nt">&gt;</span>Anchor Tag<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn btn__secondary active&quot;</span> <span class="na">title=</span><span class="s">&quot;Test button&quot;</span><span class="nt">&gt;</span>Button Tag<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;submit&quot;</span> <span class="na">value=</span><span class="s">&quot;Input Tag&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn__secondary active&quot;</span><span class="nt">&gt;</span>
</pre></div>

</code></pre><h2 id="destructive-action-button">Destructive action button</h2>
<h3 id="default-state">Default state</h3>
<p>  <a href="#" class="btn btn__warning">Anchor Tag</a>
  <button class="btn btn__warning" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn btn__warning"></p>
<pre><code><div class="highlight"><pre><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn__warning&quot;</span><span class="nt">&gt;</span>Anchor Tag<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn btn__warning&quot;</span> <span class="na">title=</span><span class="s">&quot;Test button&quot;</span><span class="nt">&gt;</span>Button Tag<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;submit&quot;</span> <span class="na">value=</span><span class="s">&quot;Input Tag&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn__warning&quot;</span><span class="nt">&gt;</span>
</pre></div>

</code></pre><h3 id="hovered-state">Hovered state</h3>
<p>  <a href="#" class="btn btn__warning hover">Anchor Tag</a>
  <button class="btn btn__warning hover" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn btn__warning hover"></p>
<pre><code><div class="highlight"><pre><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn__warning hover&quot;</span><span class="nt">&gt;</span>Anchor Tag<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn btn__warning hover&quot;</span> <span class="na">title=</span><span class="s">&quot;Test button&quot;</span><span class="nt">&gt;</span>Button Tag<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;submit&quot;</span> <span class="na">value=</span><span class="s">&quot;Input Tag&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn__warning hover&quot;</span><span class="nt">&gt;</span>
</pre></div>

</code></pre><h3 id="focused-state">Focused state</h3>
<p>  <a href="#" class="btn btn__warning focus">Anchor Tag</a>
  <button class="btn btn__warning focus" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn btn__warning focus"></p>
<pre><code><div class="highlight"><pre><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn__warning focus&quot;</span><span class="nt">&gt;</span>Anchor Tag<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn btn__warning focus&quot;</span> <span class="na">title=</span><span class="s">&quot;Test button&quot;</span><span class="nt">&gt;</span>Button Tag<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;submit&quot;</span> <span class="na">value=</span><span class="s">&quot;Input Tag&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn__warning focus&quot;</span><span class="nt">&gt;</span>
</pre></div>

</code></pre><h3 id="active-state">Active state</h3>
<p>  <a href="#" class="btn btn__warning active">Anchor Tag</a>
  <button class="btn btn__warning active" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn btn__warning active"></p>
<pre><code><div class="highlight"><pre><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn__warning active&quot;</span><span class="nt">&gt;</span>Anchor Tag<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn btn__warning active&quot;</span> <span class="na">title=</span><span class="s">&quot;Test button&quot;</span><span class="nt">&gt;</span>Button Tag<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;submit&quot;</span> <span class="na">value=</span><span class="s">&quot;Input Tag&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn__warning active&quot;</span><span class="nt">&gt;</span>
</pre></div>

</code></pre><h2 id="disabled-button">Disabled button</h2>
<h3 id="default-hovered-active-state">Default/hovered/active state</h3>
<p>  <a href="#" class="btn btn__disabled">Anchor Tag</a>
  <button class="btn btn__disabled" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn btn__disabled">
  <button class="btn" disabled title="Test button">Button Tag w/ disabled attr</button></p>
<pre><code><div class="highlight"><pre><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn__disabled&quot;</span><span class="nt">&gt;</span>Anchor Tag<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn btn__disabled&quot;</span> <span class="na">title=</span><span class="s">&quot;Test button&quot;</span><span class="nt">&gt;</span>Button Tag<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;submit&quot;</span> <span class="na">value=</span><span class="s">&quot;Input Tag&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn__disabled&quot;</span><span class="nt">&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn&quot;</span> <span class="na">disabled</span> <span class="na">title=</span><span class="s">&quot;Test button&quot;</span><span class="nt">&gt;</span>Button Tag w/ disabled attr<span class="nt">&lt;/button&gt;</span>
</pre></div>

</code></pre><h3 id="focused-state">Focused state</h3>
<p>  <a href="#" class="btn btn__disabled focus">Anchor Tag</a>
  <button class="btn btn__disabled focus" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn btn__disabled focus">
  <button class="btn focus" disabled title="Test button">Button Tag w/ disabled attr</button></p>
<pre><code><div class="highlight"><pre><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn__disabled focus&quot;</span><span class="nt">&gt;</span>Anchor Tag<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn btn__disabled focus&quot;</span> <span class="na">title=</span><span class="s">&quot;Test button&quot;</span><span class="nt">&gt;</span>Button Tag<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;submit&quot;</span> <span class="na">value=</span><span class="s">&quot;Input Tag&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn__disabled focus&quot;</span><span class="nt">&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn focus&quot;</span> <span class="na">disabled</span> <span class="na">title=</span><span class="s">&quot;Test button&quot;</span><span class="nt">&gt;</span>Button Tag w/ disabled attr<span class="nt">&lt;/button&gt;</span>
</pre></div>

</code></pre><h2 id="super-button">Super button</h2>
<h3 id="default-state">Default state</h3>
<p>  <a href="#" class="btn btn__super">Anchor Tag</a>
  <button class="btn btn__super" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn btn__super"></p>
<pre><code><div class="highlight"><pre><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn__super&quot;</span><span class="nt">&gt;</span>Anchor Tag<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn btn__super&quot;</span> <span class="na">title=</span><span class="s">&quot;Test button&quot;</span><span class="nt">&gt;</span>Button Tag<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;submit&quot;</span> <span class="na">value=</span><span class="s">&quot;Input Tag&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn__super&quot;</span><span class="nt">&gt;</span>
</pre></div>

</code></pre><h3 id="hovered-state">Hovered state</h3>
<p>  <a href="#" class="btn btn__super hover">Anchor Tag</a>
  <button class="btn btn__super hover" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn btn__super hover"></p>
<pre><code><div class="highlight"><pre><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn__super hover&quot;</span><span class="nt">&gt;</span>Anchor Tag<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn btn__super hover&quot;</span> <span class="na">title=</span><span class="s">&quot;Test button&quot;</span><span class="nt">&gt;</span>Button Tag<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;submit&quot;</span> <span class="na">value=</span><span class="s">&quot;Input Tag&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn__super hover&quot;</span><span class="nt">&gt;</span>
</pre></div>

</code></pre><h3 id="focused-state">Focused state</h3>
<p>  <a href="#" class="btn btn__super focus">Anchor Tag</a>
  <button class="btn btn__super focus" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn btn__super focus"></p>
<pre><code><div class="highlight"><pre><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn__super focus&quot;</span><span class="nt">&gt;</span>Anchor Tag<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn btn__super focus&quot;</span> <span class="na">title=</span><span class="s">&quot;Test button&quot;</span><span class="nt">&gt;</span>Button Tag<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;submit&quot;</span> <span class="na">value=</span><span class="s">&quot;Input Tag&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn__super focus&quot;</span><span class="nt">&gt;</span>
</pre></div>

</code></pre><h3 id="active-state">Active state</h3>
<p>  <a href="#" class="btn btn__super active">Anchor Tag</a>
  <button class="btn btn__super active" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn btn__super active"></p>
<pre><code><div class="highlight"><pre><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn__super active&quot;</span><span class="nt">&gt;</span>Anchor Tag<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn btn__super active&quot;</span> <span class="na">title=</span><span class="s">&quot;Test button&quot;</span><span class="nt">&gt;</span>Button Tag<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;submit&quot;</span> <span class="na">value=</span><span class="s">&quot;Input Tag&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn__super active&quot;</span><span class="nt">&gt;</span>
</pre></div>

</code></pre>