<h2 id="type-hierarchy">Type hierarchy</h2>
<h3 id="default-body-type">Default body type</h3>
  <p>Lorem ipsum dolor sit amet, <em>consectetur adipisicing elit</em>, sed do eiusmod <strong>tempor incididunt</strong> ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

<pre><code class="lang-html"><div class="highlight"><pre><span class="nt">&lt;p&gt;</span>Lorem ipsum dolor sit amet, <span class="nt">&lt;em&gt;</span>consectetur adipisicing elit<span class="nt">&lt;/em&gt;</span>, sed do eiusmod <span class="nt">&lt;strong&gt;</span>tempor incididunt<span class="nt">&lt;/strong&gt;</span> ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<span class="nt">&lt;/p&gt;</span>
</pre></div>

</code></pre>
<h2 id="margins">Margins</h2>
<h3 id="consistent-vertical-margins">Consistent vertical margins</h3>
  <p>Paragraph margin example</p>
  <p>Paragraph margin example</p>

<pre><code class="lang-html"><div class="highlight"><pre><span class="nt">&lt;p&gt;</span>Paragraph margin example<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;p&gt;</span>Paragraph margin example<span class="nt">&lt;/p&gt;</span>
</pre></div>

</code></pre>
<h2 id="default-link">Default link</h2>
<h3 id="default-state">Default state</h3>
<p>  <a href="#">Default link style</a></p>
<pre><code class="lang-html"><div class="highlight"><pre><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span><span class="nt">&gt;</span>Default link style<span class="nt">&lt;/a&gt;</span>
</pre></div>

</code></pre>
