<h2 id="type-hierarchy">Type hierarchy</h2>
<h3 id="default-body-type">Default body type</h3>
  <p>Lorem ipsum dolor sit amet, <em>consectetur adipisicing elit</em>, sed do eiusmod <strong>tempor incididunt</strong> ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

<pre><code>&lt;p&gt;Lorem ipsum dolor sit amet, &lt;em&gt;consectetur adipisicing elit&lt;/em&gt;, sed do eiusmod &lt;strong&gt;tempor incididunt&lt;/strong&gt; ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.&lt;/p&gt;
</code></pre><h2 id="margins">Margins</h2>
<h3 id="consistent-vertical-margins">Consistent vertical margins</h3>
  <p>Paragraph margin example</p>
  <p>Paragraph margin example</p>

<pre><code>&lt;p&gt;Paragraph margin example&lt;/p&gt;
&lt;p&gt;Paragraph margin example&lt;/p&gt;
</code></pre><h2 id="default-link">Default link</h2>
<h3 id="default-state">Default state</h3>
<p>  <a href="#">Default link style</a></p>
<pre><code>&lt;a href=&quot;#&quot;&gt;Default link style&lt;/a&gt;
</code></pre>