<h2 id="form-labels">Form labels</h2>
<h3 id="label-header">Label header</h3>
  <label class="form-label-header">
      Form label header
  </label>

<pre><code><div class="highlight"><pre><span class="nt">&lt;label</span> <span class="na">class=</span><span class="s">&quot;form-label-header&quot;</span><span class="nt">&gt;</span>
    Form label header
<span class="nt">&lt;/label&gt;</span>
</pre></div>

</code></pre><h3 id="super-input">Super input</h3>
<p>  <input class="input__super" type="text" value="Super input" title="Test input"></input>
  <button class="btn btn__super">Super</button></p>
<pre><code><div class="highlight"><pre><span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">&quot;input__super&quot;</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">value=</span><span class="s">&quot;Super input&quot;</span> <span class="na">title=</span><span class="s">&quot;Test input&quot;</span><span class="nt">&gt;&lt;/input&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn btn__super&quot;</span><span class="nt">&gt;</span>Super<span class="nt">&lt;/button&gt;</span>
</pre></div>

</code></pre><h2 id="input-states">Input states</h2>
<h3 id="error-state">Error state</h3>
  <input class="error" type="text" value="Invalid input" title="Test input">

<pre><code><div class="highlight"><pre><span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">&quot;error&quot;</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">value=</span><span class="s">&quot;Invalid input&quot;</span> <span class="na">title=</span><span class="s">&quot;Test input&quot;</span><span class="nt">&gt;</span>
</pre></div>

</code></pre><h3 id="warning-state">Warning state</h3>
  <input class="warning" type="text" value="Invalid input" title="Test input">

<pre><code><div class="highlight"><pre><span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">&quot;warning&quot;</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">value=</span><span class="s">&quot;Invalid input&quot;</span> <span class="na">title=</span><span class="s">&quot;Test input&quot;</span><span class="nt">&gt;</span>
</pre></div>

</code></pre><h3 id="success-state">Success state</h3>
  <input class="success" type="text" value="Validated input" title="Test input">

<pre><code><div class="highlight"><pre><span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">&quot;success&quot;</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">value=</span><span class="s">&quot;Validated input&quot;</span> <span class="na">title=</span><span class="s">&quot;Test input&quot;</span><span class="nt">&gt;</span>
</pre></div>

</code></pre><h3 id="disabled-state">Disabled state</h3>
  <input class="disabled" disabled="true" autocomplete="off" type="text" value="Validated input" title="Test input">

<pre><code><div class="highlight"><pre><span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">&quot;disabled&quot;</span> <span class="na">disabled=</span><span class="s">&quot;true&quot;</span> <span class="na">autocomplete=</span><span class="s">&quot;off&quot;</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">value=</span><span class="s">&quot;Validated input&quot;</span> <span class="na">title=</span><span class="s">&quot;Test input&quot;</span><span class="nt">&gt;</span>
</pre></div>

</code></pre><h2 id="form-icons">Form icons</h2>
<h3 id="form-input-icons">Form input icons</h3>
<p>  <input type="text" value="" title="Test input">
  <span class="cf-form_input-icon cf-icon cf-icon-email"></span></p>
<pre><code><div class="highlight"><pre><span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">value=</span><span class="s">&quot;&quot;</span> <span class="na">title=</span><span class="s">&quot;Test input&quot;</span><span class="nt">&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;cf-form_input-icon cf-icon cf-icon-email&quot;</span><span class="nt">&gt;&lt;/span&gt;</span>
</pre></div>

</code></pre><h3 id="form-input-error-icon">Form input error icon</h3>
<p>  <input class="error" type="text" value="Invalid input" title="Test input">
  <span class="cf-form_input-icon cf-icon cf-icon-delete-round" role="alert"></span></p>
<pre><code><div class="highlight"><pre><span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">&quot;error&quot;</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">value=</span><span class="s">&quot;Invalid input&quot;</span> <span class="na">title=</span><span class="s">&quot;Test input&quot;</span><span class="nt">&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;cf-form_input-icon cf-icon cf-icon-delete-round&quot;</span> <span class="na">role=</span><span class="s">&quot;alert&quot;</span><span class="nt">&gt;&lt;/span&gt;</span>
</pre></div>

</code></pre><h3 id="form-input-warning-icon">Form input warning icon</h3>
<p>  <input class="warning" type="text" value="Invalid input" title="Test input">
  <span class="cf-form_input-icon cf-icon cf-icon-error-round" role="alert"></span></p>
<pre><code><div class="highlight"><pre><span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">&quot;warning&quot;</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">value=</span><span class="s">&quot;Invalid input&quot;</span> <span class="na">title=</span><span class="s">&quot;Test input&quot;</span><span class="nt">&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;cf-form_input-icon cf-icon cf-icon-error-round&quot;</span> <span class="na">role=</span><span class="s">&quot;alert&quot;</span><span class="nt">&gt;&lt;/span&gt;</span>
</pre></div>

</code></pre><h3 id="form-input-success-icon">Form input success icon</h3>
<p>  <input class="success" type="text" value="Validated input" title="Test input">
  <span class="cf-form_input-icon cf-icon cf-icon-approved-round"></span></p>
<pre><code><div class="highlight"><pre><span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">&quot;success&quot;</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">value=</span><span class="s">&quot;Validated input&quot;</span> <span class="na">title=</span><span class="s">&quot;Test input&quot;</span><span class="nt">&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;cf-form_input-icon cf-icon cf-icon-approved-round&quot;</span><span class="nt">&gt;&lt;/span&gt;</span>
</pre></div>

</code></pre><h2 id="form-group">Form group</h2>
<h3 id="form-group-block">Form group block</h3>
  <div class="form-group">
      <div class="form-group_item">
          <input type="text" title="Test input">
      </div>
      <div class="form-group_item">
          <input type="text" title="Test input">
      </div>
  </div>
  <div class="form-group">
      <div class="form-group_item">
          <input type="text" title="Test input">
      </div>
      <div class="form-group_item">
          <input type="text" title="Test input">
      </div>
  </div>
  <div class="form-group">
      <div class="form-group_item">
          <input type="text" title="Test input">
      </div>
      <div class="form-group_item">
          <input type="text" title="Test input">
      </div>
  </div>

<pre><code><div class="highlight"><pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group_item&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">title=</span><span class="s">&quot;Test input&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group_item&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">title=</span><span class="s">&quot;Test input&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group_item&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">title=</span><span class="s">&quot;Test input&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group_item&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">title=</span><span class="s">&quot;Test input&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group_item&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">title=</span><span class="s">&quot;Test input&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group_item&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">title=</span><span class="s">&quot;Test input&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</pre></div>

</code></pre><h3 id="real-world-example">Real world example</h3>
  <div class="form-group">
      <label class="form-label-header">Form group</label>
      <div class="form-group_item">
          <input type="text" value="Form group item" title="Test input">
      </div>
      <div class="form-group_item">
          <input type="text" value="Form group item" title="Test input">
      </div>
  </div>
  <div class="form-group">
      <label class="form-label-header">Form group</label>
      <div class="form-group_item">
          <input type="text" value="Form group item" title="Test input">
      </div>
      <div class="form-group_item">
          <input type="text" value="Form group item" title="Test input">
      </div>
  </div>

<pre><code><div class="highlight"><pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;label</span> <span class="na">class=</span><span class="s">&quot;form-label-header&quot;</span><span class="nt">&gt;</span>Form group<span class="nt">&lt;/label&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group_item&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">value=</span><span class="s">&quot;Form group item&quot;</span> <span class="na">title=</span><span class="s">&quot;Test input&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group_item&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">value=</span><span class="s">&quot;Form group item&quot;</span> <span class="na">title=</span><span class="s">&quot;Test input&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;label</span> <span class="na">class=</span><span class="s">&quot;form-label-header&quot;</span><span class="nt">&gt;</span>Form group<span class="nt">&lt;/label&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group_item&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">value=</span><span class="s">&quot;Form group item&quot;</span> <span class="na">title=</span><span class="s">&quot;Test input&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group_item&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">value=</span><span class="s">&quot;Form group item&quot;</span> <span class="na">title=</span><span class="s">&quot;Test input&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</pre></div>

</code></pre><h2 id="input-with-button">Input with button</h2>
<h3 id="default-input-and-button">Default input and button</h3>
  <div class="input-with-btn">
      <div class="input-with-btn_input">
          <input type="text" title="Test input">
      </div>
      <div class="input-with-btn_btn">
          <button class="btn">Search</button>
      </div>
  </div>

<pre><code><div class="highlight"><pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;input-with-btn&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;input-with-btn_input&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">title=</span><span class="s">&quot;Test input&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;input-with-btn_btn&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn&quot;</span><span class="nt">&gt;</span>Search<span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</pre></div>

</code></pre><h3 id="super-input-and-button">Super input and button</h3>
  <div class="input-with-btn">
      <div class="input-with-btn_input">
          <input class="input__super" type="text" title="Test input">
      </div>
      <div class="input-with-btn_btn">
          <button class="btn btn__super">Search</button>
      </div>
  </div>

<pre><code><div class="highlight"><pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;input-with-btn&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;input-with-btn_input&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">&quot;input__super&quot;</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">title=</span><span class="s">&quot;Test input&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;input-with-btn_btn&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn btn__super&quot;</span><span class="nt">&gt;</span>Search<span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</pre></div>

</code></pre><h2 id="button-inside-input">Button inside input</h2>
<h3 id="default-button-inside-of-an-default-input">Default button inside of an default input</h3>
  <div class="btn-inside-input">
      <input type="text"
             value="This is some really long text to make sure that the button doesn't overlap the content in such a way that this input becomes unusable." title="Test input">
      <button class="btn btn__link btn__secondary">
          Clear
          <span class="cf-icon cf-icon-delete"></span>
      </button>
  </div>

<pre><code><div class="highlight"><pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;btn-inside-input&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span>
           <span class="na">value=</span><span class="s">&quot;This is some really long text to make sure that the button doesn&#39;t overlap the content in such a way that this input becomes unusable.&quot;</span> <span class="na">title=</span><span class="s">&quot;Test input&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn btn__link btn__secondary&quot;</span><span class="nt">&gt;</span>
        Clear
        <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;cf-icon cf-icon-delete&quot;</span><span class="nt">&gt;&lt;/span&gt;</span>
    <span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</pre></div>

</code></pre><h3 id="super-button-inside-of-a-super-input">Super button inside of a super input</h3>
  <div class="btn-inside-input">
      <input class="input__super"
             type="text"
             value="This is some really long text to make sure that the button doesn't overlap the content in such a way that this input becomes unusable." title="Test input">
      <button class="btn btn__super btn__link btn__secondary">
          Clear
          <span class="cf-icon cf-icon-delete"></span>
      </button>
  </div>

<pre><code><div class="highlight"><pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;btn-inside-input&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">&quot;input__super&quot;</span>
           <span class="na">type=</span><span class="s">&quot;text&quot;</span>
           <span class="na">value=</span><span class="s">&quot;This is some really long text to make sure that the button doesn&#39;t overlap the content in such a way that this input becomes unusable.&quot;</span> <span class="na">title=</span><span class="s">&quot;Test input&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn btn__super btn__link btn__secondary&quot;</span><span class="nt">&gt;</span>
        Clear
        <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;cf-icon cf-icon-delete&quot;</span><span class="nt">&gt;&lt;/span&gt;</span>
    <span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</pre></div>

</code></pre>