<h2 id="form-labels">Form labels</h2>
<h3 id="label-header">Label header</h3>
  <label class="form-label-header">
      Form label header
  </label>

<pre><code>&lt;label class=&quot;form-label-header&quot;&gt;
    Form label header
&lt;/label&gt;
</code></pre><h3 id="super-input">Super input</h3>
<p>  <input class="input__super" type="text" value="Super input" title="Test input"></input>
  <button class="btn btn__super">Super</button></p>
<pre><code>&lt;input class=&quot;input__super&quot; type=&quot;text&quot; value=&quot;Super input&quot; title=&quot;Test input&quot;&gt;&lt;/input&gt;
&lt;button class=&quot;btn btn__super&quot;&gt;Super&lt;/button&gt;
</code></pre><h2 id="input-states">Input states</h2>
<h3 id="error-state">Error state</h3>
  <input class="error" type="text" value="Invalid input" title="Test input">

<pre><code>&lt;input class=&quot;error&quot; type=&quot;text&quot; value=&quot;Invalid input&quot; title=&quot;Test input&quot;&gt;
</code></pre><h3 id="warning-state">Warning state</h3>
  <input class="warning" type="text" value="Invalid input" title="Test input">

<pre><code>&lt;input class=&quot;warning&quot; type=&quot;text&quot; value=&quot;Invalid input&quot; title=&quot;Test input&quot;&gt;
</code></pre><h3 id="success-state">Success state</h3>
  <input class="success" type="text" value="Validated input" title="Test input">

<pre><code>&lt;input class=&quot;success&quot; type=&quot;text&quot; value=&quot;Validated input&quot; title=&quot;Test input&quot;&gt;
</code></pre><h3 id="disabled-state">Disabled state</h3>
  <input class="disabled" disabled="true" autocomplete="off" type="text" value="Validated input" title="Test input">

<pre><code>&lt;input class=&quot;disabled&quot; disabled=&quot;true&quot; autocomplete=&quot;off&quot; type=&quot;text&quot; value=&quot;Validated input&quot; title=&quot;Test input&quot;&gt;
</code></pre><h2 id="form-icons">Form icons</h2>
<h3 id="form-input-icons">Form input icons</h3>
<p>  <input type="text" value="" title="Test input">
  <span class="cf-form_input-icon cf-icon cf-icon-email"></span></p>
<pre><code>&lt;input type=&quot;text&quot; value=&quot;&quot; title=&quot;Test input&quot;&gt;
&lt;span class=&quot;cf-form_input-icon cf-icon cf-icon-email&quot;&gt;&lt;/span&gt;
</code></pre><h3 id="form-input-error-icon">Form input error icon</h3>
<p>  <input class="error" type="text" value="Invalid input" title="Test input">
  <span class="cf-form_input-icon cf-icon cf-icon-delete-round" role="alert"></span></p>
<pre><code>&lt;input class=&quot;error&quot; type=&quot;text&quot; value=&quot;Invalid input&quot; title=&quot;Test input&quot;&gt;
&lt;span class=&quot;cf-form_input-icon cf-icon cf-icon-delete-round&quot; role=&quot;alert&quot;&gt;&lt;/span&gt;
</code></pre><h3 id="form-input-warning-icon">Form input warning icon</h3>
<p>  <input class="warning" type="text" value="Invalid input" title="Test input">
  <span class="cf-form_input-icon cf-icon cf-icon-error-round" role="alert"></span></p>
<pre><code>&lt;input class=&quot;warning&quot; type=&quot;text&quot; value=&quot;Invalid input&quot; title=&quot;Test input&quot;&gt;
&lt;span class=&quot;cf-form_input-icon cf-icon cf-icon-error-round&quot; role=&quot;alert&quot;&gt;&lt;/span&gt;
</code></pre><h3 id="form-input-success-icon">Form input success icon</h3>
<p>  <input class="success" type="text" value="Validated input" title="Test input">
  <span class="cf-form_input-icon cf-icon cf-icon-approved-round"></span></p>
<pre><code>&lt;input class=&quot;success&quot; type=&quot;text&quot; value=&quot;Validated input&quot; title=&quot;Test input&quot;&gt;
&lt;span class=&quot;cf-form_input-icon cf-icon cf-icon-approved-round&quot;&gt;&lt;/span&gt;
</code></pre><h2 id="form-group">Form group</h2>
<h3 id="form-group-block">Form group block</h3>
  <div class="form-group">
      <div class="form-group_item">
          <input type="text" title="Test input">
      </div>
      <div class="form-group_item">
          <input type="text" title="Test input">
      </div>
  </div>
  <div class="form-group">
      <div class="form-group_item">
          <input type="text" title="Test input">
      </div>
      <div class="form-group_item">
          <input type="text" title="Test input">
      </div>
  </div>
  <div class="form-group">
      <div class="form-group_item">
          <input type="text" title="Test input">
      </div>
      <div class="form-group_item">
          <input type="text" title="Test input">
      </div>
  </div>

<pre><code>&lt;div class=&quot;form-group&quot;&gt;
    &lt;div class=&quot;form-group_item&quot;&gt;
        &lt;input type=&quot;text&quot; title=&quot;Test input&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-group_item&quot;&gt;
        &lt;input type=&quot;text&quot; title=&quot;Test input&quot;&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;form-group&quot;&gt;
    &lt;div class=&quot;form-group_item&quot;&gt;
        &lt;input type=&quot;text&quot; title=&quot;Test input&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-group_item&quot;&gt;
        &lt;input type=&quot;text&quot; title=&quot;Test input&quot;&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;form-group&quot;&gt;
    &lt;div class=&quot;form-group_item&quot;&gt;
        &lt;input type=&quot;text&quot; title=&quot;Test input&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-group_item&quot;&gt;
        &lt;input type=&quot;text&quot; title=&quot;Test input&quot;&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre><h3 id="real-world-example">Real world example</h3>
  <div class="form-group">
      <label class="form-label-header">Form group</label>
      <div class="form-group_item">
          <input type="text" value="Form group item" title="Test input">
      </div>
      <div class="form-group_item">
          <input type="text" value="Form group item" title="Test input">
      </div>
  </div>
  <div class="form-group">
      <label class="form-label-header">Form group</label>
      <div class="form-group_item">
          <input type="text" value="Form group item" title="Test input">
      </div>
      <div class="form-group_item">
          <input type="text" value="Form group item" title="Test input">
      </div>
  </div>

<pre><code>&lt;div class=&quot;form-group&quot;&gt;
    &lt;label class=&quot;form-label-header&quot;&gt;Form group&lt;/label&gt;
    &lt;div class=&quot;form-group_item&quot;&gt;
        &lt;input type=&quot;text&quot; value=&quot;Form group item&quot; title=&quot;Test input&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-group_item&quot;&gt;
        &lt;input type=&quot;text&quot; value=&quot;Form group item&quot; title=&quot;Test input&quot;&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;form-group&quot;&gt;
    &lt;label class=&quot;form-label-header&quot;&gt;Form group&lt;/label&gt;
    &lt;div class=&quot;form-group_item&quot;&gt;
        &lt;input type=&quot;text&quot; value=&quot;Form group item&quot; title=&quot;Test input&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-group_item&quot;&gt;
        &lt;input type=&quot;text&quot; value=&quot;Form group item&quot; title=&quot;Test input&quot;&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre><h2 id="input-with-button">Input with button</h2>
<h3 id="default-input-and-button">Default input and button</h3>
  <div class="input-with-btn">
      <div class="input-with-btn_input">
          <input type="text" title="Test input">
      </div>
      <div class="input-with-btn_btn">
          <button class="btn">Search</button>
      </div>
  </div>

<pre><code>&lt;div class=&quot;input-with-btn&quot;&gt;
    &lt;div class=&quot;input-with-btn_input&quot;&gt;
        &lt;input type=&quot;text&quot; title=&quot;Test input&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;input-with-btn_btn&quot;&gt;
        &lt;button class=&quot;btn&quot;&gt;Search&lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre><h3 id="super-input-and-button">Super input and button</h3>
  <div class="input-with-btn">
      <div class="input-with-btn_input">
          <input class="input__super" type="text" title="Test input">
      </div>
      <div class="input-with-btn_btn">
          <button class="btn btn__super">Search</button>
      </div>
  </div>

<pre><code>&lt;div class=&quot;input-with-btn&quot;&gt;
    &lt;div class=&quot;input-with-btn_input&quot;&gt;
        &lt;input class=&quot;input__super&quot; type=&quot;text&quot; title=&quot;Test input&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;input-with-btn_btn&quot;&gt;
        &lt;button class=&quot;btn btn__super&quot;&gt;Search&lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre><h2 id="button-inside-input">Button inside input</h2>
<h3 id="default-button-inside-of-an-default-input">Default button inside of an default input</h3>
  <div class="btn-inside-input">
      <input type="text"
             value="This is some really long text to make sure that the button doesn't overlap the content in such a way that this input becomes unusable." title="Test input">
      <button class="btn btn__link btn__secondary">
          Clear
          <span class="cf-icon cf-icon-delete"></span>
      </button>
  </div>

<pre><code>&lt;div class=&quot;btn-inside-input&quot;&gt;
    &lt;input type=&quot;text&quot;
           value=&quot;This is some really long text to make sure that the button doesn&#39;t overlap the content in such a way that this input becomes unusable.&quot; title=&quot;Test input&quot;&gt;
    &lt;button class=&quot;btn btn__link btn__secondary&quot;&gt;
        Clear
        &lt;span class=&quot;cf-icon cf-icon-delete&quot;&gt;&lt;/span&gt;
    &lt;/button&gt;
&lt;/div&gt;
</code></pre><h3 id="super-button-inside-of-a-super-input">Super button inside of a super input</h3>
  <div class="btn-inside-input">
      <input class="input__super"
             type="text"
             value="This is some really long text to make sure that the button doesn't overlap the content in such a way that this input becomes unusable." title="Test input">
      <button class="btn btn__super btn__link btn__secondary">
          Clear
          <span class="cf-icon cf-icon-delete"></span>
      </button>
  </div>

<pre><code>&lt;div class=&quot;btn-inside-input&quot;&gt;
    &lt;input class=&quot;input__super&quot;
           type=&quot;text&quot;
           value=&quot;This is some really long text to make sure that the button doesn&#39;t overlap the content in such a way that this input becomes unusable.&quot; title=&quot;Test input&quot;&gt;
    &lt;button class=&quot;btn btn__super btn__link btn__secondary&quot;&gt;
        Clear
        &lt;span class=&quot;cf-icon cf-icon-delete&quot;&gt;&lt;/span&gt;
    &lt;/button&gt;
&lt;/div&gt;
</code></pre>