<h2 id="content-layouts">Content layouts</h2>
<h3 id="standard-content-columns">Standard content columns</h3>
  <div class="content-l">
      <div class="content-l_col content-l_col-1">
          <div style="background: #F1F2F2;
                      text-align: center;
                      padding: 8px;
                      margin-bottom: 4px;">
              Full-width column (spans 12 columns)
          </div>
      </div>
      <div class="content-l_col content-l_col-1-2">
          <div style="background: #F1F2F2;
                      text-align: center;
                      padding: 8px;
                      margin-bottom: 4px;">
              Half-width column (spans 6/12 columns)
          </div>
      </div>
      <div class="content-l_col content-l_col-1-2">
          <div style="background: #F1F2F2;
                      text-align: center;
                      padding: 8px;
                      margin-bottom: 4px;">
              Half-width column (spans 6/12 columns)
          </div>
      </div>
      <div class="content-l_col content-l_col-1-3">
          <div style="background: #F1F2F2;
                      text-align: center;
                      padding: 8px;
                      margin-bottom: 4px;">
              Third-width column (spans 4/12 columns)
          </div>
      </div>
      <div class="content-l_col content-l_col-1-3">
          <div style="background: #F1F2F2;
                      text-align: center;
                      padding: 8px;
                      margin-bottom: 4px;">
              Third-width column (spans 4/12 columns)
          </div>
      </div>
      <div class="content-l_col content-l_col-1-3">
          <div style="background: #F1F2F2;
                      text-align: center;
                      padding: 8px;
                      margin-bottom: 4px;">
              Third-width column (spans 4/12 columns)
          </div>
      </div>
      <div class="content-l_col content-l_col-2-3">
          <div style="background: #F1F2F2;
                      text-align: center;
                      padding: 8px;
                      margin-bottom: 4px;">
              Two thirds-width column (spans 8/12 columns)
          </div>
      </div>
      <div class="content-l_col content-l_col-1-3">
          <div style="background: #F1F2F2;
                      text-align: center;
                      padding: 8px;
                      margin-bottom: 4px;">
              Third-width column (spans 4/12 columns)
          </div>
      </div>
      <div class="content-l_col content-l_col-1-4">
          <div style="background: #F1F2F2;
                      text-align: center;
                      padding: 8px;">
              Quarter width column (spans 3/12 columns)
          </div>
      </div>
      <div class="content-l_col content-l_col-3-4">
          <div style="background: #F1F2F2;
                      text-align: center;
                      padding: 8px;">
              Three-quarter width column (spans 9/12 columns)
          </div>
      </div>
  </div>

<pre><code>&lt;div class=&quot;content-l&quot;&gt;
    &lt;div class=&quot;content-l_col content-l_col-1&quot;&gt;
        &lt;div style=&quot;background: #F1F2F2;
                    text-align: center;
                    padding: 8px;
                    margin-bottom: 4px;&quot;&gt;
            Full-width column (spans 12 columns)
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;content-l_col content-l_col-1-2&quot;&gt;
        &lt;div style=&quot;background: #F1F2F2;
                    text-align: center;
                    padding: 8px;
                    margin-bottom: 4px;&quot;&gt;
            Half-width column (spans 6/12 columns)
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;content-l_col content-l_col-1-2&quot;&gt;
        &lt;div style=&quot;background: #F1F2F2;
                    text-align: center;
                    padding: 8px;
                    margin-bottom: 4px;&quot;&gt;
            Half-width column (spans 6/12 columns)
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;content-l_col content-l_col-1-3&quot;&gt;
        &lt;div style=&quot;background: #F1F2F2;
                    text-align: center;
                    padding: 8px;
                    margin-bottom: 4px;&quot;&gt;
            Third-width column (spans 4/12 columns)
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;content-l_col content-l_col-1-3&quot;&gt;
        &lt;div style=&quot;background: #F1F2F2;
                    text-align: center;
                    padding: 8px;
                    margin-bottom: 4px;&quot;&gt;
            Third-width column (spans 4/12 columns)
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;content-l_col content-l_col-1-3&quot;&gt;
        &lt;div style=&quot;background: #F1F2F2;
                    text-align: center;
                    padding: 8px;
                    margin-bottom: 4px;&quot;&gt;
            Third-width column (spans 4/12 columns)
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;content-l_col content-l_col-2-3&quot;&gt;
        &lt;div style=&quot;background: #F1F2F2;
                    text-align: center;
                    padding: 8px;
                    margin-bottom: 4px;&quot;&gt;
            Two thirds-width column (spans 8/12 columns)
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;content-l_col content-l_col-1-3&quot;&gt;
        &lt;div style=&quot;background: #F1F2F2;
                    text-align: center;
                    padding: 8px;
                    margin-bottom: 4px;&quot;&gt;
            Third-width column (spans 4/12 columns)
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;content-l_col content-l_col-1-4&quot;&gt;
        &lt;div style=&quot;background: #F1F2F2;
                    text-align: center;
                    padding: 8px;&quot;&gt;
            Quarter width column (spans 3/12 columns)
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;content-l_col content-l_col-3-4&quot;&gt;
        &lt;div style=&quot;background: #F1F2F2;
                    text-align: center;
                    padding: 8px;&quot;&gt;
            Three-quarter width column (spans 9/12 columns)
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre><h3 id="large-gutters-modifier">Large gutters modifier</h3>
  <div class="content-l content-l__main  content-l__large-gutters">
      <div class="content-l_col content-l_col-1">
          <div style="background: #F1F2F2;
                      text-align: center;
                      padding: 8px;
                      margin-bottom: 4px;">
              Full-width column (spans 12 columns)
          </div>
      </div>
  </div>
  <div class="content-l content-l__main  content-l__large-gutters">
      <div class="content-l_col content-l_col-1-2">
          <div style="background: #F1F2F2;
                      text-align: center;
                      padding: 8px;
                      margin-bottom: 4px;">
              Half-width column (spans 6/12 columns)
          </div>
      </div>
      <div class="content-l_col content-l_col-1-2">
          <div style="background: #F1F2F2;
                      text-align: center;
                      padding: 8px;
                      margin-bottom: 4px;">
              Half-width column (spans 6/12 columns)
          </div>
      </div>
  </div>

<pre><code>&lt;div class=&quot;content-l content-l__main  content-l__large-gutters&quot;&gt;
    &lt;div class=&quot;content-l_col content-l_col-1&quot;&gt;
        &lt;div style=&quot;background: #F1F2F2;
                    text-align: center;
                    padding: 8px;
                    margin-bottom: 4px;&quot;&gt;
            Full-width column (spans 12 columns)
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;content-l content-l__main  content-l__large-gutters&quot;&gt;
    &lt;div class=&quot;content-l_col content-l_col-1-2&quot;&gt;
        &lt;div style=&quot;background: #F1F2F2;
                    text-align: center;
                    padding: 8px;
                    margin-bottom: 4px;&quot;&gt;
            Half-width column (spans 6/12 columns)
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;content-l_col content-l_col-1-2&quot;&gt;
        &lt;div style=&quot;background: #F1F2F2;
                    text-align: center;
                    padding: 8px;
                    margin-bottom: 4px;&quot;&gt;
            Half-width column (spans 6/12 columns)
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre><h3 id="focused-state">Focused state</h3>
<p>  <a href="#" class="btn focus" title="Test button">Anchor Tag</a>
  <button class="btn focus" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn focus"></p>
<pre><code>&lt;a href=&quot;#&quot; class=&quot;btn focus&quot; title=&quot;Test button&quot;&gt;Anchor Tag&lt;/a&gt;
&lt;button class=&quot;btn focus&quot; title=&quot;Test button&quot;&gt;Button Tag&lt;/button&gt;
&lt;input type=&quot;submit&quot; value=&quot;Input Tag&quot; class=&quot;btn focus&quot;&gt;
</code></pre><h3 id="active-state">Active state</h3>
<p>  <a href="#" class="btn active" title="Test button">Anchor Tag</a>
  <button class="btn active" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn active"></p>
<pre><code>&lt;a href=&quot;#&quot; class=&quot;btn active&quot; title=&quot;Test button&quot;&gt;Anchor Tag&lt;/a&gt;
&lt;button class=&quot;btn active&quot; title=&quot;Test button&quot;&gt;Button Tag&lt;/button&gt;
&lt;input type=&quot;submit&quot; value=&quot;Input Tag&quot; class=&quot;btn active&quot;&gt;
</code></pre><h2 id="secondary-button">Secondary button</h2>
<h3 id="default-state">Default state</h3>
<p>  <a href="#" class="btn btn__secondary">Anchor Tag</a>
  <button class="btn btn__secondary" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn btn__secondary"></p>
<pre><code>&lt;a href=&quot;#&quot; class=&quot;btn btn__secondary&quot;&gt;Anchor Tag&lt;/a&gt;
&lt;button class=&quot;btn btn__secondary&quot; title=&quot;Test button&quot;&gt;Button Tag&lt;/button&gt;
&lt;input type=&quot;submit&quot; value=&quot;Input Tag&quot; class=&quot;btn btn__secondary&quot;&gt;
</code></pre><h3 id="hovered-state">Hovered state</h3>
<p>  <a href="#" class="btn btn__secondary hover">Anchor Tag</a>
  <button class="btn btn__secondary hover" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn btn__secondary hover"></p>
<pre><code>&lt;a href=&quot;#&quot; class=&quot;btn btn__secondary hover&quot;&gt;Anchor Tag&lt;/a&gt;
&lt;button class=&quot;btn btn__secondary hover&quot; title=&quot;Test button&quot;&gt;Button Tag&lt;/button&gt;
&lt;input type=&quot;submit&quot; value=&quot;Input Tag&quot; class=&quot;btn btn__secondary hover&quot;&gt;
</code></pre><h3 id="focused-state">Focused state</h3>
<p>  <a href="#" class="btn btn__secondary focus">Anchor Tag</a>
  <button class="btn btn__secondary focus" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn btn__secondary focus"></p>
<pre><code>&lt;a href=&quot;#&quot; class=&quot;btn btn__secondary focus&quot;&gt;Anchor Tag&lt;/a&gt;
&lt;button class=&quot;btn btn__secondary focus&quot; title=&quot;Test button&quot;&gt;Button Tag&lt;/button&gt;
&lt;input type=&quot;submit&quot; value=&quot;Input Tag&quot; class=&quot;btn btn__secondary focus&quot;&gt;
</code></pre><h3 id="active-state">Active state</h3>
<p>  <a href="#" class="btn btn__secondary active">Anchor Tag</a>
  <button class="btn btn__secondary active" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn btn__secondary active"></p>
<pre><code>&lt;a href=&quot;#&quot; class=&quot;btn btn__secondary active&quot;&gt;Anchor Tag&lt;/a&gt;
&lt;button class=&quot;btn btn__secondary active&quot; title=&quot;Test button&quot;&gt;Button Tag&lt;/button&gt;
&lt;input type=&quot;submit&quot; value=&quot;Input Tag&quot; class=&quot;btn btn__secondary active&quot;&gt;
</code></pre><h2 id="destructive-action-button">Destructive action button</h2>
<h3 id="default-state">Default state</h3>
<p>  <a href="#" class="btn btn__warning">Anchor Tag</a>
  <button class="btn btn__warning" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn btn__warning"></p>
<pre><code>&lt;a href=&quot;#&quot; class=&quot;btn btn__warning&quot;&gt;Anchor Tag&lt;/a&gt;
&lt;button class=&quot;btn btn__warning&quot; title=&quot;Test button&quot;&gt;Button Tag&lt;/button&gt;
&lt;input type=&quot;submit&quot; value=&quot;Input Tag&quot; class=&quot;btn btn__warning&quot;&gt;
</code></pre><h3 id="hovered-state">Hovered state</h3>
<p>  <a href="#" class="btn btn__warning hover">Anchor Tag</a>
  <button class="btn btn__warning hover" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn btn__warning hover"></p>
<pre><code>&lt;a href=&quot;#&quot; class=&quot;btn btn__warning hover&quot;&gt;Anchor Tag&lt;/a&gt;
&lt;button class=&quot;btn btn__warning hover&quot; title=&quot;Test button&quot;&gt;Button Tag&lt;/button&gt;
&lt;input type=&quot;submit&quot; value=&quot;Input Tag&quot; class=&quot;btn btn__warning hover&quot;&gt;
</code></pre><h3 id="focused-state">Focused state</h3>
<p>  <a href="#" class="btn btn__warning focus">Anchor Tag</a>
  <button class="btn btn__warning focus" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn btn__warning focus"></p>
<pre><code>&lt;a href=&quot;#&quot; class=&quot;btn btn__warning focus&quot;&gt;Anchor Tag&lt;/a&gt;
&lt;button class=&quot;btn btn__warning focus&quot; title=&quot;Test button&quot;&gt;Button Tag&lt;/button&gt;
&lt;input type=&quot;submit&quot; value=&quot;Input Tag&quot; class=&quot;btn btn__warning focus&quot;&gt;
</code></pre><h3 id="active-state">Active state</h3>
<p>  <a href="#" class="btn btn__warning active">Anchor Tag</a>
  <button class="btn btn__warning active" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn btn__warning active"></p>
<pre><code>&lt;a href=&quot;#&quot; class=&quot;btn btn__warning active&quot;&gt;Anchor Tag&lt;/a&gt;
&lt;button class=&quot;btn btn__warning active&quot; title=&quot;Test button&quot;&gt;Button Tag&lt;/button&gt;
&lt;input type=&quot;submit&quot; value=&quot;Input Tag&quot; class=&quot;btn btn__warning active&quot;&gt;
</code></pre><h2 id="disabled-button">Disabled button</h2>
<h3 id="default-hovered-active-state">Default/hovered/active state</h3>
<p>  <a href="#" class="btn btn__disabled">Anchor Tag</a>
  <button class="btn btn__disabled" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn btn__disabled">
  <button class="btn" disabled title="Test button">Button Tag w/ disabled attr</button></p>
<pre><code>&lt;a href=&quot;#&quot; class=&quot;btn btn__disabled&quot;&gt;Anchor Tag&lt;/a&gt;
&lt;button class=&quot;btn btn__disabled&quot; title=&quot;Test button&quot;&gt;Button Tag&lt;/button&gt;
&lt;input type=&quot;submit&quot; value=&quot;Input Tag&quot; class=&quot;btn btn__disabled&quot;&gt;
&lt;button class=&quot;btn&quot; disabled title=&quot;Test button&quot;&gt;Button Tag w/ disabled attr&lt;/button&gt;
</code></pre><h3 id="focused-state">Focused state</h3>
<p>  <a href="#" class="btn btn__disabled focus">Anchor Tag</a>
  <button class="btn btn__disabled focus" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn btn__disabled focus">
  <button class="btn focus" disabled title="Test button">Button Tag w/ disabled attr</button></p>
<pre><code>&lt;a href=&quot;#&quot; class=&quot;btn btn__disabled focus&quot;&gt;Anchor Tag&lt;/a&gt;
&lt;button class=&quot;btn btn__disabled focus&quot; title=&quot;Test button&quot;&gt;Button Tag&lt;/button&gt;
&lt;input type=&quot;submit&quot; value=&quot;Input Tag&quot; class=&quot;btn btn__disabled focus&quot;&gt;
&lt;button class=&quot;btn focus&quot; disabled title=&quot;Test button&quot;&gt;Button Tag w/ disabled attr&lt;/button&gt;
</code></pre><h2 id="super-button">Super button</h2>
<h3 id="default-state">Default state</h3>
<p>  <a href="#" class="btn btn__super">Anchor Tag</a>
  <button class="btn btn__super" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn btn__super"></p>
<pre><code>&lt;a href=&quot;#&quot; class=&quot;btn btn__super&quot;&gt;Anchor Tag&lt;/a&gt;
&lt;button class=&quot;btn btn__super&quot; title=&quot;Test button&quot;&gt;Button Tag&lt;/button&gt;
&lt;input type=&quot;submit&quot; value=&quot;Input Tag&quot; class=&quot;btn btn__super&quot;&gt;
</code></pre><h3 id="hovered-state">Hovered state</h3>
<p>  <a href="#" class="btn btn__super hover">Anchor Tag</a>
  <button class="btn btn__super hover" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn btn__super hover"></p>
<pre><code>&lt;a href=&quot;#&quot; class=&quot;btn btn__super hover&quot;&gt;Anchor Tag&lt;/a&gt;
&lt;button class=&quot;btn btn__super hover&quot; title=&quot;Test button&quot;&gt;Button Tag&lt;/button&gt;
&lt;input type=&quot;submit&quot; value=&quot;Input Tag&quot; class=&quot;btn btn__super hover&quot;&gt;
</code></pre><h3 id="focused-state">Focused state</h3>
<p>  <a href="#" class="btn btn__super focus">Anchor Tag</a>
  <button class="btn btn__super focus" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn btn__super focus"></p>
<pre><code>&lt;a href=&quot;#&quot; class=&quot;btn btn__super focus&quot;&gt;Anchor Tag&lt;/a&gt;
&lt;button class=&quot;btn btn__super focus&quot; title=&quot;Test button&quot;&gt;Button Tag&lt;/button&gt;
&lt;input type=&quot;submit&quot; value=&quot;Input Tag&quot; class=&quot;btn btn__super focus&quot;&gt;
</code></pre><h3 id="active-state">Active state</h3>
<p>  <a href="#" class="btn btn__super active">Anchor Tag</a>
  <button class="btn btn__super active" title="Test button">Button Tag</button>
  <input type="submit" value="Input Tag" class="btn btn__super active"></p>
<pre><code>&lt;a href=&quot;#&quot; class=&quot;btn btn__super active&quot;&gt;Anchor Tag&lt;/a&gt;
&lt;button class=&quot;btn btn__super active&quot; title=&quot;Test button&quot;&gt;Button Tag&lt;/button&gt;
&lt;input type=&quot;submit&quot; value=&quot;Input Tag&quot; class=&quot;btn btn__super active&quot;&gt;
</code></pre>