<p>The cf-pagination component provides a responsive approach to multipage page navigation.</p>
<h2>Dependencies</h2>
<ul>
<li>cf-core</li>
<li>cf-buttons</li>
<li>cf-icons</li>
</ul>
<h2>Variables</h2>
<p>Theme variables for setting the color and sizes. Overwrite them in your own project by duplicating the variable <code>@key: value</code>.</p>
<h3>Sizing variables</h3>
<pre><code>@pagination-font-size:          16px;
</code></pre>
<p>The font size of pagination text.</p>
<pre><code>@pagination-bp:                 640px;
</code></pre>
<p>Screen width at which pagination styling changes to target larger screens.</p>
<h3>Color variables</h3>
<pre><code>@pagination-text:               darken(#895983, 15%);
</code></pre>
<p>Pagination text color.</p>
<pre><code>@pagination-bg:                 lighten(#905c8a, 45%);
</code></pre>
<p>Pagination form background color.</p>
<h2>Default pagination</h2>
<p>Default pagination consists of &quot;Previous&quot; and &quot;Next&quot; links, styled as buttons, and an inline form (input, submit button) that allows users to navigate to specific pages by number.</p>
<p>To enable the component to jump directly to the paginated content, place <code>#pagination_content</code> directly above your paginated content.</p>
<h3>Example</h3>
<div id="pagination_content"></div>
<!-- Paginated content here -->
<nav class="pagination">
    <a class="btn btn__super pagination_prev" href="#pagination_content">
        <span class="btn_icon__left cf-icon cf-icon-left"></span>
        Previous
    </a>
    <a class="btn btn__super pagination_next" href="#pagination_content">
        Next
        <span class="btn_icon__right cf-icon cf-icon-right"></span>
    </a>
    <form class="pagination_form" action="index.html#pagination_content">
        <label class="pagination_label"
               for="pagination_current-page">
            Page
            <span class="u-visually-hidden">
                number out of 149 total pages
            </span>
        </label>
        <input
            class="pagination_current-page"
            id="pagination_current-page"
            name="pagination_current-page"
            type="number" min="1" max="149"
            value="149">
        <span class="pagination_label">
            <span aria-hidden="true">
                of 149
            </span>
        </span>
        <button class="btn btn__link pagination_submit"
                id="pagination_submit"
                type="submit">
            Go
        </button>
    </form>
</nav>
<h3>Markup</h3>
<pre><code><span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>div</span> <span class="token attr-name" >id</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>pagination_content<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span><span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>div</span><span class="token punctuation" >&gt;</span></span>

<span class="token comment" spellcheck="true" >&lt;!-- Paginated content here --&gt;</span>

<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>nav</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>pagination<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>a</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>btn btn__super pagination_prev<span class="token punctuation" >"</span></span> <span class="token attr-name" >href</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>#pagination_content<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
        <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>span</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>btn_icon__left cf-icon cf-icon-left<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span><span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>span</span><span class="token punctuation" >&gt;</span></span>
        Previous
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>a</span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>a</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>btn btn__super pagination_next<span class="token punctuation" >"</span></span> <span class="token attr-name" >href</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>#pagination_content<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
        Next
        <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>span</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>btn_icon__right cf-icon cf-icon-right<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span><span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>span</span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>a</span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>form</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>pagination_form<span class="token punctuation" >"</span></span> <span class="token attr-name" >action</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>index.html#pagination_content<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
        <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>label</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>pagination_label<span class="token punctuation" >"</span></span>
               <span class="token attr-name" >for</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>pagination_current-page<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
            Page
            <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>span</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>u-visually-hidden<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
                number out of 149 total pages
            <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>span</span><span class="token punctuation" >&gt;</span></span>
        <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>label</span><span class="token punctuation" >&gt;</span></span>
        <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>input</span>
            <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>pagination_current-page<span class="token punctuation" >"</span></span>
            <span class="token attr-name" >id</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>pagination_current-page<span class="token punctuation" >"</span></span>
            <span class="token attr-name" >name</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>pagination_current-page<span class="token punctuation" >"</span></span>
            <span class="token attr-name" >type</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>number<span class="token punctuation" >"</span></span> <span class="token attr-name" >min</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>1<span class="token punctuation" >"</span></span> <span class="token attr-name" >max</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>149<span class="token punctuation" >"</span></span>
            <span class="token attr-name" >value</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>149<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
        <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>span</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>pagination_label<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
            <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>span</span> <span class="token attr-name" >aria-hidden</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>true<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
                of 149
            <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>span</span><span class="token punctuation" >&gt;</span></span>
        <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>span</span><span class="token punctuation" >&gt;</span></span>
        <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>button</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>btn btn__link pagination_submit<span class="token punctuation" >"</span></span>
                <span class="token attr-name" >id</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>pagination_submit<span class="token punctuation" >"</span></span>
                <span class="token attr-name" >type</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>submit<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
            Go
        <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>button</span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>form</span><span class="token punctuation" >&gt;</span></span>
<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>nav</span><span class="token punctuation" >&gt;</span></span>
</code></pre>
<h2>Responsive behavior</h2>
<ul>
<li>Less than 320px: On very small screens, the previous link, next link, and page number form stack vertically.</li>
<li>320px – <code>@pagination-bp</code>: On small screens, the pagination links display next to each other, stacked on top of the form.</li>
<li><code>@pagination-bp</code> and up: On larger screens, all pagination components display on a single line, with the form between the previous and next links.</li>
</ul>
