<h2 id="theme-variables">Theme variables</h2>
<h3 id="colors">Colors</h3>
<pre><code>@pull-quote_body
@pull-quote_citation
@micro-copy-text
@date-text
@category-slug-text
@category-slug-hover
@header-slug-thin-border
@header-slug-thick-border
@padded-header-text
@padded-header-bg
@padded-header-border
@fancy-slug-text
@fancy-slug-bg
@fancy-slug-border
@meta-header-border
@jump-link__bg
@jump-link__bg-border
@list__branded-bullet
</code></pre><h2 id="pull-quote">Pull quote</h2>
<h3 id="default-pull-quote">Default pull quote</h3>
  <aside class="pull-quote">
      <div class="pull-quote_body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Cum corrupti tempora nam nihil qui mollitia consectetur
          corporis nemo culpa dolorum!
      </div>
      <footer>
          <cite class="pull-quote_citation">
              - Author Name
          </cite>
      <footer>
  </aside>

<pre><code>&lt;aside class=&quot;pull-quote&quot;&gt;
    &lt;div class=&quot;pull-quote_body&quot;&gt;
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Cum corrupti tempora nam nihil qui mollitia consectetur
        corporis nemo culpa dolorum!
    &lt;/div&gt;
    &lt;footer&gt;
        &lt;cite class=&quot;pull-quote_citation&quot;&gt;
            - Author Name
        &lt;/cite&gt;
    &lt;footer&gt;
&lt;/aside&gt;
</code></pre><h3 id="large-pull-quote">Large pull quote</h3>
  <aside class="pull-quote pull-quote__large">
      <div class="pull-quote_body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Cum corrupti tempora nam nihil qui mollitia consectetur
          corporis nemo culpa dolorum!
      </div>
      <footer>
          <cite class="pull-quote_citation">
              - Author Name
          </cite>
      <footer>
  </aside>

<pre><code>&lt;aside class=&quot;pull-quote pull-quote__large&quot;&gt;
    &lt;div class=&quot;pull-quote_body&quot;&gt;
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Cum corrupti tempora nam nihil qui mollitia consectetur
        corporis nemo culpa dolorum!
    &lt;/div&gt;
    &lt;footer&gt;
        &lt;cite class=&quot;pull-quote_citation&quot;&gt;
            - Author Name
        &lt;/cite&gt;
    &lt;footer&gt;
&lt;/aside&gt;
</code></pre>