<h2>Theme variables</h2>
<h3>Colors</h3>
<pre><code>@pull-quote_body
@pull-quote_citation
@micro-copy-text
@date-text
@category-slug-text
@category-slug-hover
@header-slug-thin-border
@header-slug-thick-border
@padded-header-text
@padded-header-bg
@padded-header-border
@fancy-slug-text
@fancy-slug-bg
@fancy-slug-border
@meta-header-border
@jump-link__bg
@jump-link__bg-border
@list__branded-bullet
</code></pre>
<h2>Pull quote</h2>
<h3>Default pull quote</h3>
<aside class="pull-quote">
    <div class="pull-quote_body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Cum corrupti tempora nam nihil qui mollitia consectetur
        corporis nemo culpa dolorum!
    </div>
    <footer>
        <cite class="pull-quote_citation">
            - Author Name
        </cite>
    <footer>
</aside>
<pre><code><span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>aside</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>pull-quote<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>div</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>pull-quote_body<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Cum corrupti tempora nam nihil qui mollitia consectetur
        corporis nemo culpa dolorum!
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>div</span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>footer</span><span class="token punctuation" >&gt;</span></span>
        <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>cite</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>pull-quote_citation<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
            - Author Name
        <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>cite</span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>footer</span><span class="token punctuation" >&gt;</span></span>
<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>aside</span><span class="token punctuation" >&gt;</span></span>
</code></pre>
<h3>Large pull quote</h3>
<aside class="pull-quote pull-quote__large">
    <div class="pull-quote_body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Cum corrupti tempora nam nihil qui mollitia consectetur
        corporis nemo culpa dolorum!
    </div>
    <footer>
        <cite class="pull-quote_citation">
            - Author Name
        </cite>
    <footer>
</aside>
<pre><code><span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>aside</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>pull-quote pull-quote__large<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>div</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>pull-quote_body<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Cum corrupti tempora nam nihil qui mollitia consectetur
        corporis nemo culpa dolorum!
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>div</span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>footer</span><span class="token punctuation" >&gt;</span></span>
        <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>cite</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>pull-quote_citation<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
            - Author Name
        <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>cite</span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>footer</span><span class="token punctuation" >&gt;</span></span>
<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>aside</span><span class="token punctuation" >&gt;</span></span>
</code></pre>
