@hero-desktop-height: 285px;
@hero-image-height: 195px;
@hero-bg: #f7f8f9;
@hero-overlay-bg: #5a5d61;
@hero-overlay-text: white;

.m-hero {
    background-color: @hero-bg;

    .respond-to-min( @bp-sm-min, {
        display: table;
        width: 100%;
    } );

    &_wrapper {
        padding-top: unit( @grid_gutter-width / @base-font-size-px, em );
        padding-bottom: unit( @grid_gutter-width / @base-font-size-px, em );

        .respond-to-min( @bp-sm-min, {
            padding-right: unit( 15px / @base-font-size-px, em );
            padding-left: unit( 15px / @base-font-size-px, em );
        } );

        .respond-to-min( @bp-med-min, {
            padding-top: unit( 45px / @base-font-size-px, em );
            padding-bottom: unit( 45px / @base-font-size-px, em );
        });
    }

    &_text {
        .grid_column( 1, 1 );

        .respond-to-min( @bp-sm-min, {
            .grid_column( 7, 12 );

            display: table-cell;
            vertical-align: middle;
        });
    }

    &_heading {
        .heading-1();

        .respond-to-max( @bp-sm-max, {
            .heading-2();
        } );
    }

    &_subhead,
    &_cta:not( .btn ) {
        .webfont-regular();

        font-size: @size-iv;
        line-height: 1.25;

        .respond-to-min( @bp-med-min, {
            font-size: @size-iii;
        } );
    }

    &_subhead:not( :last-child ) {
        margin-bottom: unit( @grid_gutter-width / @size-iv, em );

        .respond-to-min( @bp-med-min, {
            margin-bottom: unit( @grid_gutter-width / @size-iii, em );
        } );
    }

    &_cta {
        display: block;
    }

    &_image {
        .grid_column( 1, 1 );

        // height is the same as min-height in a table
        height: unit( @hero-image-height / @base-font-size-px, em );

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .respond-to-min( @bp-sm-min, {
            .grid_column( 5, 12 );

            // Keep the text and image vertically centered
            display: table-cell;
            vertical-align: middle;

            background-size: contain;
        } );

        .respond-to-max( @bp-xs-max, {
            margin-top: unit( @grid_gutter-width / @base-font-size-px, em );
        } );
    }

    &__overlay {
        .m-hero_wrapper {
            background-repeat: no-repeat;
        }

        .respond-to-max( @bp-xs-max, {
            .m-hero_wrapper {
                // Overwrite the image that is set in the markup because
                // we're showing the image container below instead
                background: transparent !important;
            }
        } );

        .respond-to-min( @bp-sm-min, {
            .m-hero_image {
                // Overwrite the image but don't remove the container from
                // the grid flow. Necessary due to table-cell.
                background: transparent !important;
            }
        } );
    }

    &__white-text {
        .respond-to-min( @bp-sm-min, {
            .m-hero_wrapper {
                background-color: @hero-overlay-bg;
                color: @hero-overlay-text;
            }
        } );
    }
}
