/* ==========================================================================
   Capital Framework
   Form Element Styling
   ========================================================================== */
// Import external dependencies

@import (less) '../../cf-grid/src/cf-grid.less';
@import (less) '../../cf-core/src/cf-core.less';
@import (less) '../../cf-buttons/src/cf-buttons.less';
@import (less) '../../cf-icons/src/cf-icons.less';

//
// Theme variables
//

// Color variables

// Input borders
@input-border:                  #5b616b;
@input-border__hover:           @pacific;
@input-border__focused:         @pacific;
@input-border__active:          @pacific;
@input-border__error:           @red;
@input-border__warning:         @gold;
@input-border__success:         @green;

// Input backgrounds
@input-bg:                      #ffffff;
@input-bg__active:              @pacific;
@input-bg__disabled:            @gray-5;

// Input text
@input-text__disabled:          @gray-80;
@input-text__placeholder:       #aeb0b5;

// Input icons
@input-icon__error:             @red;
@input-icon__warning:           @gold;
@input-icon__success:           @green;

// select
@select-border:                 @gray-40;
@select-icon:                   @gray-80;

// Large target area variables
@input-big-target-bg:           #d6d7d9; // $color-gray-lighter

@input-big-target-bg__selected: #9bdaf1; // $color-primary-alt-light
@input-border__selected:        #046b99; // $color-primary-alt-darkest

@input-big-target-bg__disabled: #aeb0b5; // $color-gray-light

// Sizing variables

// .input__super
@input__super-font-size:        @super-btn-font-size;

//
// Import atoms
//

@import (less) 'atoms/label.less';
@import (less) 'atoms/text-input.less';


//
// Import molecules
//

@import (less) 'molecules/big-checkboxes.less';
@import (less) 'molecules/big-radio-buttons.less';
@import (less) 'molecules/field.less';

//
// Import organisms
//

@import (less) 'organisms/form.less';
@import (less) 'organisms/form-input-group.less';

//
// Form icons
//

@cf-forms_input-icon-class: cf-form_input-icon;

.@{cf-forms_input-icon-class} {
    @font-size: 20px;

    position: relative;
    top: unit(6px / @font-size, em );
    margin-left: unit(4px / @font-size, em );
    font-size: unit(@font-size / @base-font-size-px, em );
}

.a-text-input__error + .@{cf-forms_input-icon-class} {
    color: @input-icon__error;
}

.a-text-input__warning + .@{cf-forms_input-icon-class} {
    color: @input-icon__warning;
}

.a-text-input__success + .@{cf-forms_input-icon-class} {
    color: @input-icon__success;
}

//
// Button inside input
//

.btn-inside-input {

    position: relative;

    input[type="text"],
    input[type="search"],
    input[type="email"],
    input[type="url"],
    input[type="tel"],
    input[type="number"] {
        box-sizing: border-box;
        width: 100%;
        padding-right: unit(65px / @btn-font-size, em );

        &.input__super {
            padding-right: unit(90px / @super-btn-font-size, em );
        }
    }

    .btn {
        .u-link__no-border();
        position: absolute;
        right: unit( 15px / @btn-font-size, em );
        top: 0;

        &__super {
            right: unit( 15px / @super-btn-font-size, em );
        }

        /* pa11y fails unless the background color is explicitly set */
        &__link.btn__secondary {
            background-color: #fff;
        }
    }

}


//
// Form layouts
//

.form-l {
    &__flush {
        .respond-to-min( @bp-lg-min, {
            .grid_nested-col-group();
        });
    }

    &__float {
        .respond-to-min( @bp-lg-min, {
            .u-clearfix();
            & .form-l_col {
                display: block;
                float: left;
                margin-right: 0;
            }
        });
    }

    .respond-to-min( @bp-sm-min, {
        .grid_nested-col-group();
    });
}

.form-l_col {
    margin-bottom: unit(@grid_gutter-width / @base-font-size-px, em );

    &__flush-bottom {
        // Used when a col is wrapping inner cols that
        // have their own margin
        margin-bottom: 0;
    }

    input[type="text"],
    input[type="search"],
    input[type="email"],
    input[type="url"],
    input[type="tel"],
    input[type="number"],
    select,
    textarea {
        // TODO: Move border-box value to cf-forms.
        box-sizing: border-box;
        width: 100%;
    }
}

.respond-to-min( @bp-sm-min, {
    .form-l_col-1-4 {
        .grid_column(3);
    }

    .form-l_col-1-2 {
        .grid_column(6);
    }

    .form-l_col-1-3 {
        .grid_column(4);
    }

    .form-l_col-2-3 {
        .grid_column(8);
    }

    .form-l_col-1 {
        .grid_column(12);
    }
});

//
// m-select menu
//

.m-select {
    position: relative;
    margin-top: 0.5em;
    border: 1px solid @select-border;

    select {
        height: unit( 30px / @base-font-size-px, em );
        width: 100%;
        padding: unit( 4px / @base-font-size-px, em )
                 unit( 6px / @base-font-size-px, em );
        border: 0;
        outline: 2px solid transparent;
        appearance: none;
        background-color: @input-bg;
        border-radius: 0;
        color: @text;

        &:hover,
        &:active,
        &:focus {
            outline-color: @input-border__focused;
            outline-offset: 0;
        }
    }

    select[disabled] {
        color: @input-text__disabled;
        background-color: @input-bg__disabled;
        cursor: not-allowed;

        &:hover {
            outline: 2px solid transparent;
        }
    }

    select option:disabled {
        color: @input-disabled;
    }

    &:after {
        width: unit( 30px / @base-font-size-px, em );
        height: unit( 30px / @base-font-size-px, em );
        border-left: 1px solid @select-border;
        position: absolute;
        top: 0;
        right: 0;
        background-color: @input-disabled;
        color: @select-icon;
        content: @cf-icon-down;
        font-family: 'CFPB Minicons';
        line-height: unit( 30px / @base-font-size-px, em );
        text-align: center;
        pointer-events: none;
    }
}

// @todo: add modernizr to CF so this works:

.no-csspointerevents .m-select {
    &:after {
        height: 0;
        width: 0;
        border: 0;
        content: '';
    }
}
