.o-form {
    &_group {
        margin-bottom: 30px;
    }

    &_fieldset {
        // Overwrite Normalize
        border: none;
        margin: 0;
        padding: 0;

        .m-field + .m-field {
            margin-top: 10px;
        }
    }

    //
    // Input with button
    //

    &__input-w-btn {      
      .respond-to-min( 480px, {
          .grid_nested-col-group();
      } );

      &_input-container {
          margin-bottom: unit( 15px / @base-font-size-px, em );
          .respond-to-min( 480px, {
              .grid_column(9);
              border-right-width: 0;
          } );
          .respond-to-min( 960px, {
              .grid_column(10);
              border-right-width: 0;
          } );

          input {
              box-sizing: border-box;
              width: 100%;
          }
      }

      &_btn-container {
          margin-bottom: unit( 15px / @base-font-size-px, em );

          .respond-to-min( 480px, {
              .grid_column(3);
          } );
          .respond-to-min( 960px, {
              .grid_column(2);
          } );

          .a-btn {
              box-sizing: border-box;
              width: 100%;
          }

          .a-btn__super {
              padding-left: unit( 15px / @super-btn-font-size, em );
              padding-right: unit( 15px / @super-btn-font-size, em );
          }
      }
    }

    //
    // Button inside input
    //

    &__btn-inside-input {
      position: relative;

      .a-text-input {
          box-sizing: border-box;
          width: 100%;
          padding-right: unit( 75px / @btn-font-size, em );

          &.input__super {
              padding-right: unit( 90px / @super-btn-font-size, em );
          }
      }

      .a-btn {
          .u-link__no-border();
          position: absolute;
          right: unit( 15px / @btn-font-size, em );
          top: 0;

          &__super {
              right: unit( 15px / @super-btn-font-size, em );
          }

          /* pa11y fails unless the background color is explicitly set */
          &__link.a-btn__secondary {
              background-color: #fff;
          }
      }
    }
}
