<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ site.baseurl }}/dist/static/css/main.min.css">
  </head>
  <body>
  <div class="body-wrapper">
    {% include header.html %}

    <main class="content content__1-3" id="main" role="main">
      <div class="content_bar"></div>
      <div class="content_wrapper">
        {% include section-nav.html %}
        <section class="content_main">
          {% include content-header.html %}
          {{ content }}
        </section>
      </div>
    </main>

      {% include footer.html %}

  </div><!-- /.body-wrapper -->
  <script src="{{ site.baseurl }}/dist/static/js/main.min.js"></script>
  </body>
</html>
