<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script src="{{ site.baseurl }}/assets/js/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="body-wrapper">
      {% include header.html %}

      {% include hero.html %}

      <div class="wrapper content">

        <section id="main" class="main-content" role="main">

          {{ content }}

        </section>

      </div> <!--/.wrapper -->


      {% include footer.html %}
    </div> <!--/.body-wrapper -->
  </body>
</html>
