<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ site.baseurl }}/dist/static/css/main.min.css">
  </head>
  <body>
    <div class="body-wrapper">
      {% include header.html %}

      {% include hero.html %}

      <div class="wrapper content_wrapper">
        <main class="content_main" id="main" role="main">
            {{ content }}
        </main>
      </div> <!--/.wrapper -->

      {% include footer.html %}
    </div> <!--/.body-wrapper -->
    <script src="{{ site.baseurl }}/dist/static/js/main.min.js"></script>
  </body>
</html>
