.a-label {
    display: inline-block;

    &_helper {
        color: @label-helper;
    }

    &__heading {
        .heading-4();

        display: block;

        // Overwrites heading-4 margin.
        margin-bottom: unit( 10px / @font-size, em );
    }
}
