.a-label {
    display: inline-block;

    &_helper {
        .u-webfont-regular();
        color: @label-helper;
        font-size: unit( @size-v / @base-font-size-px, em );
    }

    &__heading {
        .heading-4();

        display: block;

        // Overwrites heading-4 margin.
        margin-bottom: unit( 10px / @font-size, em );

        .a-label_helper {
            font-size: unit( @base-font-size-px / @font-size, em );
        }
    }
}
